.modal-backdrop{position:fixed;
				top:0;right:0;
				bottom:0;
				left:0;
				z-index:1040;
				background: rgba(0, 0, 0, 0.8);}
.modal-backdrop.fade{opacity:0.8 !important}
.modal-backdrop.show{opacity:20;}

.fade{opacity:0;
	transition:opacity .15s linear}
.fade.show{opacity:10;}

.modal-open.modal{
	overflow-x: hidden;
	overflow-y: auto;
}

/* The Close Button */
.close-modal {
	color: #ccc;
	float: right;
	margin-left: 90%;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

