@import url(jquery.dataTables.min.css);
@import url(bootstrap.css);
@import url(bootstrap.min.css);

@font-face {
    font-family: 'Fedra Sans Std LF';
    src: url('../fonts/FedraSansStd-Book LF.otf') format("opentype");
    /*src: url('../fonts/FedraSansStd-LightLF.otf') format("opentype");
    src: url('../fonts/FedraSansStd-MediumLF.otf') format("opentype");*/
}

body {
    font-family: 'Fedra Sans Std LF', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Fedra Sans Std LF', Arial, sans-serif;
    font-weight: 100;
}
.footer-link li a {
    font-size: small;
    color: #888888;
}

a {
    color: #ccc;
}

.navbar-default .navbar-nav > li > a {
    color: #8d8d8d;
}

footer {
    padding: 30px 0;
    background: #fff;
}

.body-content {
    margin: 0 auto 30px auto;
    min-height: 500px;
}

.nav > li > a {
    display: inline;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
}

.nav > li {
    /*padding: 0 5px;*/
}

#navlinks {
    color: #617b97;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #ebeaea;
    color: #000000;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

.dropdown-menu  {
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: #ffffff;
    color: #000;
}

@media only screen and (max-width: 320px) {
    .nav-justified > li{
        display: block;
        margin: 20px 0;
        padding: 50px 0;
        width: 100%;
    }
    .nav .nav-justified {

    }
 }

.navbar-toggle {
    float: left;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #ebeaea;
    color: #000000;
    cursor: pointer;
}

.dropdown-menu  {
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: #ffffff;
    color: #000;
}

.redBackground {
    background-color: "#7aa0c4" !important;
}

.DTTT_button_copy div {
    z-index: 5000 !important;
}

.DTTT_button_csv div {
    z-index: 5001 !important;
}

.DTTT_button_xls div {
    z-index: 5002 !important;
}

.DTTT_button_pdf div {
    z-index: 5003 !important;
}

.DTTT_button_print div {
    z-index: 5004 !important;
}

.nav-tabs.nav-justified > #tabbedlinks ul  {
    background: rgba(154, 107, 87, 0.7);
}

.breadcrumb {
    border-radius: 0;
}

@media only screen and (max-width: 320px) {
     h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }

    h5 {
        font-size: 11px;
    }

    #greeting h6 {
        font-size: 10px;
        display: none;
    }

    #greeting p {
        font-size: 10px;
    }

    h2 {
        font-size: 18px;
    }

    #dropdownMenu3 {
        padding-left: 0;
    }

    .login-wrap {
        margin: 0;
    }

    .login-wrap {
        margin: 0;
        min-height: 400px;
    }

    .login-html {
        padding: 20px 50px 20px 50px;
    }

    #copyright {
        font-size: 10px;
    }

    .foot-lnk p {
        font-size: 14px;
    }

    .login-html .tab {
        font-size: 14px;
    }

}


@media only screen and (max-width: 568px) {
    .login-wrap {
        margin: auto;
        min-height: 400px;
    }

}

@media only screen and (max-width: 640px) {
     h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }

    #greeting h6 {
        font-size: 10px;
    }

    #greeting p {
        font-size: 10px;
    }

    h2 {
        font-size: 20px;
    }
    .login-wrap {
        margin: auto;
        min-height: 400px;
    }

    .login-html {
        padding: 50px 50px 50px 50px;
    }

    #copyright {
        font-size: 12px;
    }

    .foot-lnk p {
        font-size: 14px;
    }

}

td {
    font-weight: 400;
}

#contact p, #contact address  {
    font-weight: 300;
    color: #6a6d71;
}

.well, .breadcrumb {
    background: #ebecef;
}

.page-header h2 {
    font-weight: 300;
}

#panel-head {
    padding: 20px;
}

.glyphicon-plus,.glyphicon-minus {
    background: rgba(154,106,79,.25);
    color: #fff;
    padding: 5px 6px 5px 6px;
    font-weight: 100;
}

.panel-collapse {
    background: rgba(154,106,79,.25);
}

.panel-body {
    padding-bottom: 50px;
}

.fa-plus, .fa-minus {
   background: rgba(154,106,79,.60);
   padding: 5px;
   font-weight: 100;
   color: white;
}