<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<meta name="author" content="SmartUniversity" />
<title>CMA | Account Statement</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<!-- bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="dashboard/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css" />

<!-- data tables -->
<link
	href="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(dashboard/font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<!-- END HEAD -->
<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
			<div th:replace="navbar :: navbar"></div>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
				<div th:replace="header-2 :: header-2"></div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Account Statement</div>
							</div>

						</div>
					</div>
					<!-- Start Bank -->
					<div class="row">
						<div class="col-md-12">
							<div class="white-box">
								<div class="card-head " id="bar-parent5">Account Statement
								</div>
								<form class="form-signin" action="#"
									th:action="@{/generateStatement}" th:object="${statement}"
									method="post" id="statementDetail-form">

									<div class="row">
										<div class="card-body " id="bar-parent5">
											<div class="row">
												<div class="col-lg-3 p-t-20">
													<div class="form-control-wrapper">
														<input type="text" id="date" name="startDate" required="required"
															class="floating-label mdl-textfield__input"
															placeholder="Date from">
													</div>
												</div>
												<div class="col-lg-3 p-t-20">
													<div class="form-control-wrapper">
														<input type="text" id="date2" name="endDate" required="required"
															class="floating-label mdl-textfield__input"
															placeholder="Date to">
													</div>
												</div>
												<div class="col-lg-3 p-t-20">
													<div class="form-group"
														th:if="${customerDashboard.app1} == 1">
														<div class="checkbox checkbox-icon-black p-0">
															<input name="app1" value="1" id="app1" type="checkbox"> <label
																for="checkbox1"> Bank </label>
														</div>
													</div>

													<div class="form-group">
														<select class="form-control" name="accountNumber"
															id="accountNumber" style="width: 420px; height: 33px;"
															required="required" th:field="*{accountNumber}">
															<option value="">Account
																Number</option>
															<!-- <option>0909909876</option>
															<option>0909909876</option> -->
															<option
																th:each="account : ${customerDashboard.currentAccountList}"
																th:value="${account.accountNumber}"
																th:text="${account.accountNumber}" />
														</select>
													</div>
												</div>
												<div class="col-lg-3 p-t-20">
													<div class="form-group">
														<div class="checkbox checkbox-icon-black p-0"
															th:if="${customerDashboard.app2} == 2">
															<input name="app2" value="2" id="app2" type="checkbox"> <label
																for="checkbox1"> Asset Management </label>
														</div>
														<div class="checkbox checkbox-icon-black p-0"
															th:if="${customerDashboard.app3} == 3">
															<input name="app3" value="3" id="app3" type="checkbox"> <label
																for="checkbox1"> Securities </label>
														</div>
														<div class="checkbox checkbox-icon-black p-0"
															th:if="${customerDashboard.app4} == 4">
															<input name="app4" value="4" id="app4" type="checkbox"> <label
																for="checkbox1"> Trustees </label>
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<div class="text-center">
														<!-- <button onclick="javascript:window.print();"
															class="btn btn-danger btn-outline" type="button">
															<span><i class="fa fa-print"></i> Excel</span>
														</button> -->
														<button class="btn btn-default btn-outline" type="submit">
															<span><i class="fa fa-print"></i> PDF</span>
														</button>
													</div>
												</div>

											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- End Bank -->

				</div>
			</div>
			<!-- end page content -->
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner">2018 &copy; CMA</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	<!-- start js include path -->
	<script src="dashboard/plugins/jquery/jquery.min.js"></script>
	<script src="dashboard/plugins/popper/popper.min.js"></script>
	<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
	<script
		src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- bootstrap -->
	<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- data tables -->
	<script src="dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
	<script
		src="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
	<script src="dashboard/js/pages/table/table_data.js"></script>
	<script
		src="dashboard/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
	<script
		src="dashboard/plugins/material-atetimepicker/datetimepicker.js"></script>

	<script src="dashboard/js/app.js"></script>
	<script src="dashboard/js/layout.js"></script>
	<script src="dashboard/js/theme-color.js"></script>
	<!-- Material -->
	<script src="dashboard/plugins/material/material.min.js"></script>
	<!-- animation -->

	<script
		src="dashboard/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
	<script
		src="dashboard/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
	<script
		src="dashboard/plugins/material-datetimepicker/datetimepicker.js"></script>

</body>
</html>