<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<meta name="author" content="SmartUniversity" />
<link rel="icon" type="image/png" sizes="16x16"
	href="https://www.coronationsl.com/favicon.ico">
<title>CMA | AM TopUp</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<!--bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/custom.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(dashboard/font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<!-- END HEAD -->
<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
			<div th:replace="navbar :: navbar"></div>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
				<div th:replace="header-2 :: header-2"></div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<br>
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Funds Top Up</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel tab-border card-box">
								<header class="panel-heading panel-heading-gray custom-tab">
									<center>
										<h4 style="color: #ffffff;">Funds Top Up</h4>
									</center>
								</header>
								<div class="panel-body">
									<div class=""></div>
									<div class="">
										<form class="form-signin" action="#"
											th:action="@{/saveTopupTransactionDetail}"
											th:object="${transactionDetail}" method="post"
											id="transactionDetail-form">
											<input type="hidden" name="userId" id="userId"
												th:value="${session.dashboardDetail.user.id}" /> <input
												type="hidden" name="mode" id="mode" th:value="bank" /><input
												type="hidden" name="existBenCheck" id="existBenCheck"
												th:value="${transactionDetail.existingBen}" /><input
												type="hidden" name="newBenCheck" id="newBenCheck"
												th:value="${transactionDetail.newBen}" /><input
												type="hidden" name="errorMessage" id="errorMessage"
												th:value="${transactionDetail.errorMessage}" />
											<div class="form-body">
												<div class="form-group row ">
													<div class="col-md-12">
														<label class="control-label">Topup Type </label> <select
															name="applicationId" id="applicationId"
															class="form-control" required="required"
															
															th:field="*{applicationId}">
															<option th:each="app : ${apps}" th:value="${app.id}"
																th:text="${app.name}" />
														</select>
													</div>
												</div>
												<div class="form-group row" id="fundType">

													<div class="col-md-12">
														<label class="control-label">Funds Type</label> <select
															name="fundTypeId" id="fundTypeId" class="form-control"
															
															th:field="*{fundTypeId}">
															<option th:each="product : ${mfProducts}"
																th:value="${product.id}" th:text="${product.fundName}" />
														</select>
													</div>
												</div>
												<div class="form-group row">

													<div class="col-md-12">
														<label class="control-label">Source</label> <select
															name="topUpSrcId" id="topUpSrcId" class="form-control"
															required="required" 
															th:field="*{topUpSrcId}">
															<option th:each="source : ${topUpSources}"
																th:value="${source.id}" th:text="${source.type}" />
														</select>
													</div>
												</div>
												<div class="form-group row" id="ownAcct">

													<div class="col-md-12">
														<label class="control-label ">Source Account</label> <select
															name="ownAccountNumber" class="form-control"
															id="ownAccountNumber" 
															th:field="*{ownAccountNumber}">
															<option th:each="account : ${currentAccountList}"
																th:value="${account.accountNumber}"
																th:text="${account.displayAccountNumber}" />
														</select>
													</div>
												</div>
												<div class="form-group row">

													<div class="col-md-12">
														<label class="control-label">Destination</label> <select
															name="topUpTypeId" id="topUpTypeId" class="form-control"
															required="required" 
															th:field="*{topUpTypeId}">
															<option th:each="topuptype : ${topUpTypes}"
																th:value="${topuptype.id}" th:text="${topuptype.type}" />
														</select>
													</div>
												</div>
												<div class="form-group row" id="amSelfId">

													<div class="col-md-12">
														<label class="control-label">Destination Customer
															ID</label> <select name="ownAmCustomerAid" class="form-control"
															id="ownAmCustomerAid" 
															th:field="*{ownAmCustomerAid}">
															<option
																th:each="account : ${session.dashboardDetail.amCustAIDList}"
																th:value="${account.customerAid}"
																th:text="${account.displayCustomerAID}" />
														</select>
													</div>
												</div>
												<div class="form-group row" id="secSelfId">

													<div class="col-md-12">
														<label class="control-label">Destination Customer
															ID</label> <select name="ownSecCustomerAid" class="form-control"
															id="ownSecCustomerAid"
															
															th:field="*{ownSecCustomerAid}">
															<option
																th:each="account : ${session.dashboardDetail.secCustAIDList}"
																th:value="${account.customerAid}"
																th:text="${account.displayCustomerAID}" />
														</select>
													</div>
												</div>
												<div id="self" >
													<div class="form-group row">
														<div class="col-lg-12 ">
															<input type="checkbox" id="existingBen"
																name="existingBen" /> <span class='addNew'>Existing
																Beneficiary</span> <input type="checkbox" id="newBen"
																name="newBen" style="font-size: 10px;" /> <span class='addNew' >New
																Beneficiary</span>
														</div>
														<div id="am">
															<div id="am-existingBeneficiary">
																<div id="extBen">
																<div class="form-group row">
																	<div class="col-md-12">
																		<label class="control-label">Destination
																			Customer ID</label> <select name="amBeneficiaryId"
																			id="amBeneficiaryId" class="form-control"
																			
																			th:field="*{amBeneficiaryId}">
																			<option th:each="beneficiary : ${amBeneficiaries}"
																				th:value="${beneficiary.id}"
																				th:text="${beneficiary.displayBeneficiary}" />
																		</select>
																	</div>
																	</div>
																</div>

															</div>
															<div id="am-newBeneficiary">

																<div class="form-group row">
																	<div class="col-md-12">
																		<label class="control-label">Destination
																			Customer ID </label> <input type="text" name="amCustomerAid"
																			th:value="${transactionDetail.amCustomerAid}"
																			id="am-customerAid" class="form-control"
																			 />
																	</div>
																</div>

																<div class="form-group row">
																	<div class="col-md-12">
																		<label class="control-label">Destination
																			Customer Name</label> <input type="text"
																			name="amCustomerName" id="am-customerName"
																			required="required" readonly="readonly"
																			th:value="${transactionDetail.amCustomerName}"
																			class="form-control"
																			 />
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-12">
																		<input type="checkbox" id="amAddBeneficiary"
																			name="amAddBeneficiary" /><span class='addNew'>Add
																			as Beneficiary</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div id="sec">
														<div id="sec-existingBeneficiary">
															<div class="form-group row" id="extBen">

																<div class="col-md-12">
																	<label class="control-label">Destination
																		Customer ID </label> <select name="secBeneficiaryId"
																		id="secBeneficiaryId" class="form-control"
																		
																		th:field="*{secBeneficiaryId}">
																		<option th:each="beneficiary : ${secBeneficiaries}"
																			th:value="${beneficiary.id}"
																			th:text="${beneficiary.displayBeneficiary}" />
																	</select>
																</div>
															</div>

														</div>
														<div id="sec-newBeneficiary">

															<div class="form-group row">

																<div class="col-md-12">
																	<label class="control-label">Destination
																		Customer ID <span class="required"> * </span>
																	</label> <input type="text" name="secCustomerAid"
																		id="sec-customerAid"
																		th:value="${transactionDetail.secCustomerAid}"
																		class="form-control"
																		 />
																</div>
															</div>

															<div class="form-group row">

																<div class="col-md-12">
																	<label class="control-label">Destination
																		Customer Name </label> <input type="text"
																		name="secCustomerName" id="sec-customerName"
																		required="required" readonly="readonly"
																		class="form-control"  />
																</div>
															</div>
															<div class="form-group row">
																<br>
																<div class="col-md-12">
																	<input type="checkbox" id="secAddBeneficiary"
																		name="secAddBeneficiary" /> <span class='addNew' style="font-size: 10px;">Add
																		as Beneficiary</span>
																</div>
															</div>
														</div>
													</div>
													<div id="trust">
														<div id="trust-existingBeneficiary">
															<div class="form-group row" id="extBen">
																<div class="col-md-12">
																	<label class="control-label">Destination
																		Customer ID </label> <select name="trustBeneficiaryId"
																		id="trustBeneficiaryId" class="form-control"
																		
																		th:field="*{trustBeneficiaryId}">
																		<option
																			th:each="beneficiary : ${trusteesBeneficiaries}"
																			th:value="${beneficiary.id}"
																			th:text="${beneficiary.displayBeneficiary}" />
																	</select>
																</div>
															</div>

														</div>
														<div id="trust-newBeneficiary">

															<div class="form-group row">

																<div class="col-md-12">
																	<label class="control-label ">Destination
																		Customer ID </label> <input type="text"
																		name="trustCustomerAid" id="trust-customerAid"
																		th:value="${transactionDetail.trustCustomerAid}"
																		class="form-control"
																		 />
																</div>
															</div>

															<div class="form-group row">
																<div class="col-md-12">
																	<label class="control-label ">Destination
																		Customer Name </label> <input type="text"
																		name="trustCustomerName" id="trust-customerName"
																		required="required" readonly="readonly"
																		class="form-control"
																		 />

																</div>

															</div>
															<div class="form-group row">
																<br>
																<div class="col-md-12">
																	<input type="checkbox" id="trustAddBeneficiary"
																		name="trustAddBeneficiary"
																		th:value="${transactionDetail.trustAddBeneficiary}" /><span
																		class='addNew'>Add as Beneficiary</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group row ">
													<div class="col-md-12">
														<label class="control-label">Amount </label> <input
															type="number" name="amount" id="amount"
															required="required" data-required="1"
															class="form-control" 
															th:value="${transactionDetail.amount}" />
													</div>
												</div>

												<div class="form-group row ">

													<div class="col-md-12">
														<label class="control-label">Remark </label>
														<textarea class="form-control" name="remark"
															 id="remark" required="required"
															th:text="${transactionDetail.remark}"></textarea>

													</div>

												</div>
												<div class="form-group">
													<div class="col-md-12">
														<center >

															<button type="submit" class="btn btn-info "
																style="background-color: #75787B; width: 100px;">Submit</button>
															<button class="btn btn-default " id="previous"
																style="background-color: #75787B; width: 100px;">Cancel</button>
														</center>

													</div>
												</div>
											</div>
										</form>

									</div>
									<div class="col-lg-2"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- end page container -->
	<!-- start footer -->
	<div class="page-footer">
		<div class="page-footer-inner">2018 &copy; CMB</div>
		<div class="scroll-to-top">
			<i class="icon-arrow-up"></i>
		</div>
	</div>
	<!-- end footer -->
	<!--</div>-->
	<!-- start js include path -->
	<script src="dashboard/plugins/jquery/jquery.min.js"></script>
	<script src="dashboard/plugins/popper/popper.min.js"></script>
	<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
	<script
		src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- bootstrap -->
	<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="dashboard/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
	<!-- Common js-->
	<script src="dashboard/js/app.js"></script>
	<script src="dashboard/js/layout.js"></script>
	<script src="dashboard/js/theme-color.js"></script>
	<!-- Material -->
	<script src="dashboard/plugins/material/material.min.js"></script>
	<!-- animation -->
	<script src="dashboard/js/pages/ui/animations.js"></script>
	<!-- end js include path -->
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							document.getElementById("previous").addEventListener(
									"click", function() {
										console.log('previous');

										parent.history.back();
										return false;
									});
							if ($('#errorMessage').val() === '') {
								$('#existingBen').prop('checked', true);
							} else {
								console.log($('#existBenCheck').val());
								console.log($('#newBenCheck').val());
								if ($('#existBenCheck').val() !== '') {
									$('#existingBen').prop('checked', true);
									$('#newBen').prop('checked', false);
									setTimeout(function() {
										$('#externalBeneficiaryId').focus();
										$('#internalBeneficiaryId').focus();
										$('#ownAccountNumber').focus();
									}, 1);
								} else if ($('#newBenCheck').val() !== '') {
									$('#newBen').prop('checked', true);
									$('#existingBen').prop('checked', false);
									setTimeout(function() {
										$('#financialInstitutionCode').focus();
										$('#newDestinationAccountNumber')
												.focus();
										$('#destinationAccountName').focus();
									}, 1);
								}
								alert($('#errorMessage').val());
							}
							//$('#existingBen').prop('checked', true);
							var x = document.getElementById('extBen');
							//var y = document.getElementById('intBen');
							//var z = document.getElementById('owntrnsf');
							var a = document
									.getElementById('am-newBeneficiary');
							var b = document
									.getElementById('am-existingBeneficiary');
							var h = document
									.getElementById('sec-newBeneficiary');
							var j = document
									.getElementById('sec-existingBeneficiary');
							var k = document
									.getElementById('trust-newBeneficiary');
							var l = document
									.getElementById('trust-existingBeneficiary');
							//var c = document.getElementById('institute');
							//a.style.display = 'none';
							//b.style.display = 'block';
							var d = document.getElementById('fundType');
							var e = document.getElementById('am');
							var f = document.getElementById('sec');
							var g = document.getElementById('trust');
							var m = document.getElementById('self');
							var n = document.getElementById('amSelfId');
							var o = document.getElementById('secSelfId');
							var p = document.getElementById('ownAcct');
														
							console
							.log('topUpSrcId==',$('#topUpSrcId').val());
							if ($('#topUpSrcId').val() == 1) {
								console
								.log('coronation src',);
								p.style.display = 'block';
							} else {
								console
								.log('other bank',);
								p.style.display = 'none';
							}
							$('#topUpSrcId').change(function(event) {
								if ($('#topUpSrcId').val() == 1) {
									console
									.log('coronation src',);
									p.style.display = 'block';
								} else {
									console
									.log('other bank',);
									p.style.display = 'none';
								}
							});
							console
							.log('topUpTypeId==',$('#topUpTypeId').val());
							if ($('#topUpTypeId').val() == 1) {
								console
								.log('existingBen checked',);
								m.style.display = 'none';
							} else {
								console
								.log('existingBen checked',);
								m.style.display = 'block';
							}
							appToggle();
							$('#applicationId').change(function(event) {
								appToggle();
							});
							$('#topUpTypeId')
							.change(
									function(event) {
										if ($('#topUpTypeId').val() == 1) {
											console
											.log('existingBen checked',);
											m.style.display = 'none';
											if($('#applicationId').val() == 2){
												n.style.display = 'block';
												o.style.display = 'none';
											}else{
												if($('#applicationId').val() == 3){
												n.style.display = 'none';
												o.style.display = 'block';
												}										
											}
										} else {
											console
											.log('existingBen checked',);
											m.style.display = 'block';
											n.style.display = 'none';
											o.style.display = 'none';
										}
									});
							$('#existingBen')
									.change(
											function(event) {
												// console.log('app1 checked',$('#app1').val());
												if ($('#existingBen').is(
														':checked')) {
													console
															.log('existingBen checked');
													$('#newBen').prop(
															'checked', false);
													if ($('#applicationId')
															.val() == 2) {
														d.style.display = 'block';
														a.style.display = 'none';
														b.style.display = 'block';
													} else {
														d.style.display = 'none';
														if ($('#applicationId')
																.val() == 3) {
															h.style.display = 'none';
															j.style.display = 'block';
														}
														if ($('#applicationId')
																.val() == 4) {
															k.style.display = 'none';
															l.style.display = 'block';
														}
														if ($('#applicationId')
																.val() == '') {
													console
															.log('def app');
															a.style.display = 'none';
															b.style.display = 'none';
															h.style.display = 'none';
															j.style.display = 'none';
															k.style.display = 'none';
															l.style.display = 'none';
															n.style.display = 'none';
															o.style.display = 'none';
														}
													}
													appToggle();

												} else {
													console.log(
															'applicationId',
															$('#applicationId')
																	.val());
													$('#newBen').prop(
															'checked', true);
													if ($('#applicationId')
															.val() == 2) {
														d.style.display = 'block';
														a.style.display = 'block';
														b.style.display = 'none';
													} else {
														d.style.display = 'none';
														if ($('#applicationId')
																.val() == 3) {
															h.style.display = 'block';
															j.style.display = 'none';
														}
														if ($('#applicationId')
																.val() == 4) {
															k.style.display = 'block';
															l.style.display = 'none';
														}
														if ($('#applicationId')
																.val() == '') {
													console
															.log('def app');
															a.style.display = 'none';
															b.style.display = 'none';
															h.style.display = 'none';
															j.style.display = 'none';
															k.style.display = 'none';
															l.style.display = 'none';
															n.style.display = 'none';
															o.style.display = 'none';
														}
													}
												}
											});
							$('#newBen')
									.change(
											function(event) {
												// console.log('app1 checked',$('#app1').val());
												if ($('#newBen').is(':checked')) {
													console.log(
															'newBen checked',
															$('#applicationId')
																	.val());
													$('#existingBen').prop(
															'checked', false);
													a.style.display = 'block';
													b.style.display = 'none';
													if ($('#applicationId')
															.val() == 2) {
														d.style.display = 'block';
														a.style.display = 'block';
														b.style.display = 'none';
													} else {
														d.style.display = 'none';
														if ($('#applicationId')
																.val() == 3) {
															h.style.display = 'block';
															j.style.display = 'none';
														}
														if ($('#applicationId')
																.val() == 4) {
															k.style.display = 'block';
															l.style.display = 'none';
														}
														if ($('#applicationId')
																.val() == '') {
													console
															.log('def app');
															a.style.display = 'none';
															b.style.display = 'none';
															h.style.display = 'none';
															j.style.display = 'none';
															k.style.display = 'none';
															l.style.display = 'none';
															n.style.display = 'none';
															o.style.display = 'none';
														}
													}
												} else {
													console
															.log('existingBen unchecked');
													$('#existingBen').prop(
															'checked', true);
													a.style.display = 'none';
													b.style.display = 'block';
													if ($('#applicationId')
															.val() == 2) {
														d.style.display = 'block';
														a.style.display = 'none';
														b.style.display = 'block';
													} else {
														d.style.display = 'none';
														if ($('#applicationId')
																.val() == 3) {
															h.style.display = 'none';
															j.style.display = 'block';
														}
														if ($('#applicationId')
																.val() == 4) {
															k.style.display = 'none';
															l.style.display = 'block';
														}
														if ($('#applicationId')
																.val() == '') {
													console
															.log('def app');
															a.style.display = 'none';
															b.style.display = 'none';
															h.style.display = 'none';
															j.style.display = 'none';
															k.style.display = 'none';
															l.style.display = 'none';
															n.style.display = 'none';
															o.style.display = 'none';
														}
													}
													appToggle();
												}
											});
							$('#applicationId').change(function(event) {
								appToggle();

							});

							$('#am-customerAid').change(function(event) {
								nameEnquiry();
							});

							$('#sec-customerAid').change(function(event) {
								nameEnquiry();
							});
							function appToggle() {
								console.log('applicationId inside ==', $(
										'#applicationId').val());
								if ($('#applicationId').val() == 2) {
									d.style.display = 'block';
									e.style.display = 'block';
									f.style.display = 'none';
									g.style.display = 'none';
									if ($('#newBen').is(':checked')) {
										a.style.display = 'block';
										b.style.display = 'none';
									} else {
										a.style.display = 'none';
										b.style.display = 'block';
									}
									if($('#topUpTypeId').val() == 1){
										n.style.display = 'block';
										o.style.display = 'none';
									}else{
										n.style.display = 'none';
										o.style.display = 'none';										
									}
								} else {
									d.style.display = 'none';
									if ($('#applicationId').val() == 3) {
										e.style.display = 'none';
										f.style.display = 'block';
										g.style.display = 'none';
										if ($('#newBen').is(':checked')) {
											h.style.display = 'block';
											j.style.display = 'none';
										} else {
											h.style.display = 'none';
											j.style.display = 'block';
										}
										if($('#topUpTypeId').val() == 1){
											n.style.display = 'none';
											o.style.display = 'block';
										}else{
											n.style.display = 'none';
											o.style.display = 'none';										
										}
									}
									if ($('#applicationId').val() == 4) {
										e.style.display = 'none';
										f.style.display = 'none';
										g.style.display = 'block';
										if ($('#newBen').is(':checked')) {
											k.style.display = 'block';
											l.style.display = 'none';
										} else {
											k.style.display = 'none';
											l.style.display = 'block';
										}
									}
									if ($('#applicationId')
											.val() == '') {
								console
										.log('def app');
										a.style.display = 'none';
										b.style.display = 'none';
										h.style.display = 'none';
										j.style.display = 'none';
										k.style.display = 'none';
										l.style.display = 'none';
										n.style.display = 'none';
										o.style.display = 'none';
									}
								}
							}
							function nameEnquiry() {
								console.log('nameEnquiry == applicationId=== ',
										$('#applicationId').val());
								var search = {}
								var myUrl = '';
								if ($('#applicationId').val() == 2) {
									search["bvn"] = $('#am-customerAid').val();
									search["applicationId"] = $(
											'#applicationId').val();
									myUrl = document.location.origin + '/fusion/subsidiaryCustomerDetail'
								}
								if ($('#applicationId').val() == 3) {
									search["bvn"] = $('#sec-customerAid').val();
									search["applicationId"] = $(
											'#applicationId').val();
									myUrl = document.location.origin + '/fusion/subsidiaryCustomerDetail'
								}
								$
										.ajax({
											type : "post",
											contentType : "application/json",
											url : myUrl,
											data : JSON.stringify(search),
											dataType : 'json',
											// async: false,
											cache : false,
											timeout : 600000,
											success : function(data) {

												var json = "<h4>Ajax Response</h4><pre>"
														+ JSON.stringify(data,
																null, 4)
														+ "</pre>";

												console.log("SUCCESS : ", data);
												//console.log("SUCCESS : ",
												//		data["customerName"]);
												//console.log("SUCCESS : ",
												//		data["phoneNumber"]);
												//console.log("SUCCESS : ",
												//		data["email"]);

								if ($('#applicationId').val() == 2) {
												$("#am-customerName").val(
														data["customerName"]);}
								if ($('#applicationId').val() == 3) {
									$("#sec-customerName").val(
											data["customerName"]);}
												/**$("#destinationAccountBvn")
														.val(
																data["customerBVN"]);
												$("#nameEnquirySessionId").val(
														data["sessionId"]);
												$("#beneficiaryKyc").val(
														data["customerKYC"]);**/

											},
											error : function(e) {

												var json = "<h4>Ajax Response</h4><pre>"
														+ e.responseText
														+ "</pre>";
												$('#verifiedName').html(json);

												console.log("ERROR : ", e);
											}
										});
							}
						});
	</script>
</body>
</html>