<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.coronationsl.com/favicon.ico">
    <title>CMA | Beneficiary</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="dashboard/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- bootstrap -->
	<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- data tables -->
    <link href="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="dashboard/plugins/material/material.min.css">
	<link rel="stylesheet" href="dashboard/css/material_style.css">
	<!-- animation -->
	<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
	<!-- Template Styles -->
    <link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
    <link href="dashboard/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="dashboard/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="dashboard/css/theme-color.css" rel="stylesheet" type="text/css" />
	<!-- favicon -->
    <link rel="shortcut icon" href="dashboard/img/favicon.ico" />
 </head>
 <style type="text/css">



    @font-face {
        font-family: FedraSansStdLight;
        src: url(dashboard/font/FedraSansStd-LightLF.otf);
    }
    
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
{
        
        font-family: inherit;

font-weight: 400;
line-height: 1.71429;
        
    }

    body {
        background: #fff;
        color: #6a6d71;
        font-family: 'FedraSansStdLight';
        font-weight: normal;
        color: #003057;
        height: 100%;
        
    }
            
                                                      

</style>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">
			<!-- start header -->
				<div th:replace="navbar :: navbar"></div>
			<!-- end header -->
        <!-- start page container -->
        <div class="page-container">
                <!-- start sidebar menu -->
					<div th:replace="header-2 :: header-2"></div>
             <!-- end sidebar menu -->
            <!-- start page content -->
            <br>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Beneficiary List</div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head">
                                    <header>Bank</header>

                                </div>
                                <div class="card-body ">
                                  <div class="table-scrollable">
                                    <table id="example1" class="display full-width">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Account Number</th>
                                                <th>Bank</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											<tr
												th:each="detail,iterationStatus  : ${bankBeneficiaries}">
												
												<td style="text-align: left;" th:text="${detail.beneficiaryAccountName}"></td>
												<td style="text-align: left;" th:text="${detail.beneficiaryAccountNumber}"></td>
												<td style="text-align: left;" th:text="${detail.financialInstitution.institutionName}"></td>
                                                <td><a th:href="@{/deleteCustomerBeneficiary(id=${detail.id})}" class="btn btn-danger btn-xs" >
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
											</tr>
                                           
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head">
                                    <header>Asset Management</header>

                                </div>
                                <div class="card-body ">
                                    <table id="saveStage" class="display full-width">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Customer ID</th>
                                               <!--  <th>Fund</th> -->
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											<tr
												th:each="detail,iterationStatus  : ${amBeneficiaries}">
												
												<td style="text-align: left;" th:text="${detail.beneficiaryCustomerName}"></td>
												<td style="text-align: left;" th:text="${detail.beneficiaryCustomerAid}"></td>
												<!-- <td style="text-align: left;" th:text="${detail.mutualFundProduct.fundName}"></td> -->
                                                <td><a th:href="@{/deleteCustomerSubBeneficiary(id=${detail.id})}" class="btn btn-danger btn-xs" >
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
											</tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head">
                                    <header>Securities</header>

                                </div>
                                <div class="card-body ">
                                  <div class="table-scrollable">
                                    <table id="example3" class="display full-width">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Customer ID</th>
                                               <!--  <th>Bank</th> -->
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											<tr
												th:each="detail,iterationStatus  : ${secBeneficiaries}">
												
												<td style="text-align: left;" th:text="${detail.beneficiaryCustomerName}"></td>
												<td style="text-align: left;" th:text="${detail.beneficiaryCustomerAid}"></td>
												<!-- <td style="text-align: left;" th:text="${detail.beneficiaryCustomerAid}"></td> -->
                                                <td><a th:href="@{/deleteCustomerSubBeneficiary(id=${detail.id})}" class="btn btn-danger btn-xs" >
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
											</tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2018 &copy; CMA
                
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- start js include path -->
    <script src="dashboard/plugins/jquery/jquery.min.js" ></script>
    <script src="dashboard/plugins/popper/popper.min.js" ></script>
    <script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js" ></script>
	<script src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- bootstrap -->
    <script src="dashboard/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <!-- data tables -->
    <script src="dashboard/plugins/datatables/jquery.dataTables.min.js" ></script>
 	<script src="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js" ></script>
    <script src="dashboard/js/pages/table/table_data.js" ></script>
    <!-- Common js-->
	<script src="dashboard/js/app.js" ></script>
    <script src="dashboard/js/layout.js" ></script>
	<script src="dashboard/js/theme-color.js" ></script>
	<!-- Material -->
	<script src="dashboard/plugins/material/material.min.js"></script>
	<!-- animation -->
	<script src="dashboard/js/pages/ui/animations.js" ></script>
    <!-- end js include path -->
</body>

<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/table_data.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 May 2018 15:23:56 GMT -->
</html>