<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<script src="ajax/libs/pace/1.0.2/pace.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" type="image/png" sizes="16x16" href="demo/favicon.png">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>CMB | Login</title>
<!-- CSS -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400"
	rel="stylesheet" type="text/css">
<link href="vendors/material-icons/material-icons.css" rel="stylesheet"
	type="text/css">
<link href="vendors/mono-social-icons/monosocialiconsfont.css"
	rel="stylesheet" type="text/css">
<link href="vendors/feather-icons/feather.css" rel="stylesheet"
	type="text/css">
<link
	href="ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css"
	rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- Head Libs -->
<script src="ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#myTable').dataTable();
	});
</script>
</head>

<body class="body-bg-full profile-page"
	style="background-image: url(demo/error-page.jpg)">
	<nav class="navbar navbar-default navbar-fixed-top "
		role="navigation-demo">
		<nav class="navbar navbar-fixed-top">
			<p class="shift">www.coronationmb.com</p>
			<div class="spacer"></div>
			<ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">
				<div class="navbar-header">
					<a href="index-2.html" class="navbar-brand"> <img alt=""
						src="demo/logo-expand.png">
					</a>
				</div>
				<li><a href="#"
					class="right-sidebar-toggle active ripple ml-3 ml-0-rtl"></a></li>
			</ul>
		</nav>
	</nav>
	<div id="wrapper" class="row wrapper">
		<div
			class="container-min-full-height d-flex justify-content-center align-items-center">
			<div class="login-center">

				<form class="form-signin" action="#"
					th:action="@{/saveCustomerDetail}" th:object="${customer}"
					method="post" id="customer-form">
					<div class="widget-list">
						<input type="hidden" id="phone" name="phone"  th:value="${customer.phone}"> <input
							type="hidden" id="email" name="email"  th:value="${customer.email}"> 
						<input type="hidden" id="firstName" name="firstName"  th:value="${customer.firstName}"> <input
							type="hidden" id="middleName" name="middleName"  th:value="${customer.middleName}"> <input
							type="hidden" id="lastName" name="lastName"  th:value="${customer.lastName}"><input
							type="hidden" id="mode" name="mode" th:value="${customer.mode}"><input
							type="hidden" id="app1Val" th:value="${customer.app1}"><input
							type="hidden" id="app2Val" th:value="${customer.app2}"><input
							type="hidden" id="app3Val" th:value="${customer.app3}"><input
							type="hidden" id="app4Val" th:value="${customer.app4}">
						<h6>Create Customer</h6>
						<div class="row">
							<div class="col-md-6 widget-holder-new">
								<div class="form-group">
									<label class="form-control-label">Type of Account</label>
									<select name="customerTypeId" id="customerTypeId"
										style="width: 420px; height: 33px;"
										th:field="*{customerTypeId}">
										<option th:each="customerType : ${customerTypes}"
											th:value="${customerType.id}" th:text="${customerType.type}" />
									</select>
								</div>
								<div class="form-group" id="corporateSubGroup">
									<label class="form-control-label">Corporate Sub-Group</label> <select
										name="corporateSubGroupId" id="corporateSubGroupId"
										style="width: 420px; height: 33px;"
										th:field="*{corporateSubGroupId}">
										<option th:each="group : ${corporatesubgroups}"
											th:value="${group.id}" th:text="${group.type}" />
									</select>
								</div>
								<div class="form-group mr-t-30" id="bvnDiv">
									<label for="sample1UserName">BVN</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="material-icons">fingerprint</i>
										</div>
										<input type="text" class="form-control" id="bvn" name="bvn"
											placeholder="22123456789" th:value="${customer.bvn}">
									</div>
								</div>
								<div class="form-group mr-t-30" id="rcNumberDiv">
									<label for="sample1UserName">RC Number</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="material-icons">fingerprint</i>
										</div>
										<input type="text" class="form-control" id="rcNumber"
											name="rcNumber" th:value="${customer.rcNumber}">
									</div>
								</div>
							</div>
							<div class="col-md-6 widget-holder-new">
								<p style="color: #000;">Profile customer for:</p>
								<div class="form-group no-gutters-profile mb-0">
									<div class="col-md-12 d-flex">
										<div
											class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl"
											style="color: #000;">
											<label class="d-flex"> <input type="checkbox"
												name="app1" value="1" id="app1"> <span
												class="label-text">Bank</span>
											</label> <label class="d-flex"> <input type="checkbox"
												name="app2" value="2" id="app2"> <span
												class="label-text">Asset Management</span>
											</label> <label class="d-flex"> <input type="checkbox"
												name="app3" value="3" id="app3"> <span
												class="label-text">Securities</span>
											</label> <label class="d-flex"> <input type="checkbox"
												name="app4" value="4" id="app4"> <span
												class="label-text">Trustees</span>
											</label>
										</div>
									</div>
									<!-- /.col-md-12 -->
								</div>
							</div>
							<div class="col-md-12 widget-holder-new">
								<div class="form-group">
									<label class="form-control-label" for="l11">Customer
										Name</label>
									<div class="col-md-12">
										<input type="email" placeholder=""
											class="form-control form-control-line" name="name" id="name" th:value="${customer.name}"
											readonly="readonly" required="required">
									</div>
								</div>
							</div>
						</div>

						<div th:if="${customer.mode} == 'update'">
					<input type="hidden" id="id" name="id" th:value="${customer.id}">
						<table class="table table-striped table-responsive"
										data-toggle="datatables" id="myTable">
										<thead>
											<tr>
												<th style="text-align: left;">BVN/RC No.</th>
												<th style="text-align: left;">Customer Name</th>
												<th style="text-align: left;">User Id</th>
												<th style="text-align: left;">Email</th>
												<th style="text-align: left;">Phone</th>
												<th style="text-align: left;">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr
												th:each="detail,iterationStatus  : ${customer.users}">
												<td style="text-align: left;" ><a th:href="@{/updateUserDetail(id=${detail.id})}" 
													 th:text="${detail.rcnBvn}"></a></td>
												<td style="text-align: left;" th:text="${detail.customer.name}"></td>
												<td style="text-align: left;" th:text="${detail.userId}"></td>
												<td style="text-align: left;" th:text="${detail.email}"></td>
												<td style="text-align: left;" th:text="${detail.phone}"></td>
												<td style="text-align: left;" th:text="${detail.status.description}"></td> 
											</tr>
										</tbody>
									</table>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<a href="/fusion/home"
									class="btn btn-block btn-lg btn btn-success text-uppercase fs-12 fw-600">Back</a>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<button
									class="btn btn-block btn-lg btn btn-success text-uppercase fs-12 fw-600"
									type="submit">Next</button>
							</div>
							<div class="col-md-2"></div>
						</div>
				</form>
				<!-- /.form-material -->
				<!-- /.btn-list -->
			</div>
			<!-- /.login-center -->
		</div>
		<!-- /.d-flex -->
	</div>
	<footer class="col-sm-12 text-center">
		<p>
			Copyright &copy;
			<script>
				document.write(new Date().getFullYear())
			</script>
			, Coronation Merchant Bank | All rights reserved
		</p>
	</footer>
	<!-- /.body-container -->
	<!-- Scripts -->
	<script type="text/javascript"
		src="ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/material-design.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>


</html>