<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<meta name="author" content="SmartUniversity" />
<link rel="icon" type="image/png" sizes="16x16"
	href="https://www.coronationsl.com/favicon.ico">
<title>CMB | Home - Dashboard</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />

<script
	src="https://www.koolchart.com/demo/LicenseKey/KoolChartLicense.js"></script>

<!--  <script
	src="js/koolchart.js"></script>-->
<script
	src="https://www.koolchart.com/demo/KoolChart/JS/KoolIntegration.js"></script>
<link rel="stylesheet"
	href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css" />
<link rel="stylesheet"
	href="https://www.koolchart.com/demo/Samples/Web/sample.css" />

<!--bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/summernote/summernote.css"
	rel="stylesheet">
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<!-- morris chart 
<link href="dashboard/plugins/morris/morris.css" rel="stylesheet"
	type="text/css" />-->
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<script
	src="https://www.koolchart.com/demo/LicenseKey/KoolChartLicense.js"></script>
<script
	src="https://www.koolchart.com/demo/KoolChart/JS/KoolIntegration.js"></script>
<link rel="stylesheet"
	href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css" />
<link rel="stylesheet"
	href="https://www.koolchart.com/demo/Samples/Web/sample.css" />
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<body>		
		
						<!-- start sidebar menu -->
				
				<div class="sidebar-container" th:fragment="header">
					<div class="sidemenu-container navbar-collapse collapse fixed-menu">
						<div id="remove-scroll">
							<ul class="sidemenu page-header-fixed p-t-20"
								data-keep-expanded="false" data-auto-scroll="true"
								data-slide-speed="200">
								<li class="sidebar-toggler-wrapper hide">
									<div class="sidebar-toggler">
										<span></span>
									</div>
								</li>
								
								<li class="sidebar-user-panel">
									<div class="user-panel">
										<div class="row">
											<!-- <div class="sidebar-userpic">
											<img th:src="@{${localImg}}" class="img-responsive"
												alt="dashboard/img/dp.jpg">
										</div>
										-->
										
											<div class="profile-userpic"
												th:if="${imageuser.image} == null">
												<img src="dashboard/img/dp.jpg" class="img-responsive"
													alt="" >
											</div>
											<div class="profile-userpic"
												th:if="${imageuser.image} != null">
												<img th:src="@{${imageuser.image.fileName}}"
													class="img-responsive" alt=""  style="width: 160px; height: 190px;">
											</div>
										</div>
										<div class="profile-usertitle">
											<div class="sidebar-userpic-name"
												th:text="${customerDashboard.user.customer.name}">
												David Deo</div>
											<div class="profile-usertitle-job"
												th:text="${session.user.userRole.roleName}">Manager</div>

										</div>
										<br>
										<div class="sidebar-userpic-btn">
											<a class="tooltips" href="/fusion/userProfile" data-placement="top"
												data-original-title="Profile"> <i class="material-icons">person_outline</i>
											</a> <a class="tooltips" href="email_inbox.html"
												data-placement="top" data-original-title="Mail"> <i
												class="material-icons">mail_outline</i>
											</a> <a class="tooltips" href="chat.html" data-placement="top"
												data-original-title="Chat"> <i class="material-icons">chat</i>
											</a> <a class="tooltips" href="/fusion/logout" data-placement="top"
												data-original-title="Logout"> <i class="material-icons">input</i>
											</a>
										</div>
									</div>
								</li>
								<li class="menu-heading"><span></span></li>
								<li class="nav-item start"
									th:if="${customerDashboard.app1} == 1"><a href="#"
									class="nav-link nav-toggle"> <i class="material-icons">style</i>
										<span class="title">My Accounts</span> <span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">Current
													- ₦ 50,000,000</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">DOM(USD)
													- $ 50,000,000</span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">DOM(GBP)
													- £ 50,000,000</span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">DOM(EUR)
													- € 50,000,000</span>
										</a></li>
									</ul></li>
								<li class="nav-item" th:if="${customerDashboard.app2} == 2"><a
									href="#" class="nav-link nav-toggle"> <i
										class="material-icons">landscape</i> <span class="title">My Funds</span> <span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.cfifValueStr}">Fixed
													Income - ₦ 50,000,000</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.cbfValueStr}">Balanced
													Funds - ₦ 50,000</span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.cmmfValueStr}">Money
													Market Funds - ₦ 200,000</span>
										</a></li>
									</ul></li>
								<li class="nav-item" th:if="${customerDashboard.app3} == 3"><a
									href="#" class="nav-link nav-toggle"> <i
										class="material-icons">https</i> <span class="title">Brokerage</span>
										<span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.secCashValueStr}">Cash -
													₦ 50,000,000</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.secEquitiesValueStr}">Equity
													- $ 50,000,000</span>
										</a></li>
									</ul></li>
								<li class="nav-item" th:if="${customerDashboard.app4} == 4"><a
									href="#" class="nav-link nav-toggle"> <i
										class="material-icons">equalizer</i> <span class="title">Trust</span>
										<span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title">Investment - ₦ 50,000,000</span> <span
												class="selected"></span>
										</a></li>
									</ul></li>
								<li class="nav-item"><a href="#"
									class="nav-link nav-toggle"> <i class="material-icons">dns</i>
										<span class="title">Transactions</span> <span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="/fusion/transfer"
											class="nav-link "> <span class="title">Bank
													Transfer</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="/fusion/topup"
											class="nav-link "> <span class="title">Funds Topup</span>
												<span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a
											href="/fusion/customerBeneficiaries" class="nav-link "> <span
												class="title">Beneficiary Management</span> <span
												class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="/fusion/transactionHistory"
											class="nav-link "> <span class="title">Transaction
													History</span> <span class="selected"></span>
										</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end sidebar menu -->
		
		
						<script src="dashboard/plugins/jquery/jquery.min.js"></script>
		<script src="dashboard/plugins/popper/popper.min.js"></script>
		<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
		<script
			src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<!-- bootstrap -->
		<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="dashboard/plugins/sparkline/jquery.sparkline.min.js"></script>
		<script src="dashboard/js/pages/sparkline/sparkline-data.js"></script>
		<!-- Common js-->
		<script src="dashboard/js/app.js"></script>
		<script src="dashboard/js/layout.js"></script>
		<script src="dashboard/js/theme-color.js"></script>
		<!-- material -->
		<script src="dashboard/plugins/material/material.min.js"></script>
		<!-- animation -->
		<script src="dashboard/js/pages/ui/animations.js"></script>
	
</body>
</html>