<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" type="image/png" sizes="16x16"
	href="assets/demo/favicon.png">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>CMB | Login</title>
<!-- CSS -->
<link rel="stylesheet"
	href="webjars/datatables/1.10.12/css/jquery.dataTables.min.css"
	type="text/css" media="screen" />
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400"
	rel="stylesheet" type="text/css">
<link href="vendors/material-icons/material-icons.css" rel="stylesheet"
	type="text/css">
<link href="vendors/mono-social-icons/monosocialiconsfont.css"
	rel="stylesheet" type="text/css">
<link href="vendors/feather-icons/feather.css" rel="stylesheet"
	type="text/css">
<link
	href="ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css"
	rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- Head Libs -->
<script src="ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#myTable').dataTable();
	});
</script>
</head>

<style type="text/css"></style>

<body class="body-bg-full profile-page"
	style="background-image: url(demo/city3.jpg)">
	<nav class="navbar navbar-default navbar-fixed-top "
		role="navigation-demo">
		<nav class="navbar navbar-fixed-top">
			<p class="shift">www.coronationmb.com</p>
			<div class="spacer"></div>
			<ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">
				<div class="navbar-header">
					<a href="index-2.html" class="navbar-brand"> <img alt=""
						src="demo/logo-expand.png">
					</a>
				</div>
				<li><a href="#"
					class="right-sidebar-toggle active ripple ml-3 ml-0-rtl"></a></li>
			</ul>

		</nav>
	</nav>
	<div>
		<div class="content-wrapper">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<main>
					<div class="widget-list">
						<div class="row">
							<div class=" widget-holder">
								<div class="widget-bg">
									<div class="widget-heading clearfix">
										<h6>Welcome Mama Gee</h6>
									</div>
									<br>
									<div class="row mr-b-50">

										<div class="col-lg-3 col-sm-6 col-12 mr-b-20">
											<a href="/fusion/createCustomer" class="btn btn-success ripple">Add
												Customer</a>
										</div>
										<div class="col-lg-1 col-sm-6 col-12 mr-b-20"></div>
										<div class="col-lg-2 col-sm-6 col-12 mr-b-20"></div>

										<div class="col-lg-5 col-sm-6 col-12 mr-b-20">

											<div class="input-group">
												<input type="text" class="form-control form-control-md"
													placeholder="Search">
												<div class="input-group-btn">
													<button type="button" class="btn btn-default  fs-12"
														data-toggle="dropdown">
														Search <span class="caret"></span>
													</button>

												</div>
											</div>
											<div class="col-lg-1 col-sm-6 col-12 mr-b-20"></div>

											<!-- /.widget-bg -->
										</div>
									</div>
								</div>
								<!-- /.widget-heading -->
								<div class=" widget-body clearfix widget-bg">

									<table class="table table-striped table-responsive"
										data-toggle="datatables" id="myTable">
										<thead>
											<tr>
												<th style="text-align: left;">BVN/RC No.</th>
												<th style="text-align: left;">Customer Name</th>
												<th style="text-align: left;">User Id</th>
												<th style="text-align: left;">Email</th>
												<th style="text-align: left;">Phone</th>
												<th style="text-align: left;">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr
												th:each="detail,iterationStatus  : ${users}">
												
												<td style="text-align: left;" ><a th:href="@{/updateCustomerDetail(id=${detail.customer.id})}" 
													 th:text="${detail.rcnBvn}"></a></td>
												<td style="text-align: left;" th:text="${detail.customer.name}"></td>
												<td style="text-align: left;" th:text="${detail.userId}"></td>
												<td style="text-align: left;" th:text="${detail.email}"></td>
												<td style="text-align: left;" th:text="${detail.phone}"></td>
												<td style="text-align: left;" th:text="${detail.status.description}"></td> 
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.widget-bg -->
						</div>
						<!-- /.widget-holder -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.widget-list -->

				</main>
			</div>

		</div>
		<div class="col-md-6 widget-holder">
			<div class="widget-bg">
				<div class="widget-body-body">
					<div id="signup-modal" class="modal fade" tabindex="-1"
						role="dialog" aria-hidden="true" style="display: none">
						<div class="modal-dialog">
							<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
								<div class="modal-body">
									<div class="text-center my-3">
										<a href="#"><span><img
												src="demo/logo-expand-dark.png" alt=""></span></a>
									</div>
									<form>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="username">RC Number: 234.3445</label>
												</div>
												<div class="form-group">
													<label for="emailaddress">Customer Name: Dangote</label>
												</div>
												<div class="form-group mr-b-30">
													<label for="password">Username: dangote</label>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group mr-b-30">
													<label for="password">User Id: 123ID232</label>
												</div>
												<div class="form-group mr-b-30">
													<label for="password">Phone Number: 08020202020</label>
												</div>
												<div class="form-group mr-b-30">
													<label for="password">Profiled for : <br> Bank
														<br>Asset Management <br>Trustees<br>Securities
													</label>
												</div>
											</div>
										</div>


										<div class="text-center mr-b-30">
											<button class="btn btn-rounded btn-success ripple"
												type="submit">Edit</button>
											<button class="btn btn-rounded btn-success ripple"
												type="submit">Cancel</button>
										</div>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
				</div>
				<!-- /.widget-body -->
			</div>
			<!-- /.widget-bg -->
		</div>

	</div>

	</div>
	<footer class="col-sm-12 text-center">
		<p>
			Copyright &copy;
			<script>
				document.write(new Date().getFullYear())
			</script>
			, Coronation Merchant Bank | All rights reserved
		</p>
	</footer>
	<!--/ #wrapper -->
	<!-- Scripts -->
	<script src="ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="ajax/libs/metisMenu/2.7.0/metisMenu.min.js"></script>
	<script
		src="ajax/libs/jquery.perfect-scrollbar/0.7.0/js/perfect-scrollbar.jquery.js"></script>
	<script src="ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
	<script src="js/custom.js"></script>
</body>


</html>