<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<script src="ajax/libs/pace/1.0.2/pace.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" type="image/png" sizes="16x16" href="demo/favicon.png">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>CMB | Login</title>
<!-- CSS -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400"
	rel="stylesheet" type="text/css">
<link href="vendors/material-icons/material-icons.css" rel="stylesheet"
	type="text/css">
<link href="vendors/mono-social-icons/monosocialiconsfont.css"
	rel="stylesheet" type="text/css">
<link href="vendors/feather-icons/feather.css" rel="stylesheet"
	type="text/css">
<link
	href="ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css"
	rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">

<!-- Head Libs -->
<script src="ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body class="body-bg-full profile-page"
	style="background-image: url(demo/error-page.jpg)">
	<nav class="navbar navbar-default navbar-fixed-top "
		role="navigation-demo">
		<nav class="navbar navbar-fixed-top">
			<p class="shift">www.coronationmb.com</p>
			<div class="spacer"></div>
			<ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">
				<div class="navbar-header">
					<a href="index-2.html" class="navbar-brand"> <img alt=""
						src="demo/logo-expand.png">
					</a>
				</div>
				<li><a href="#"
					class="right-sidebar-toggle active ripple ml-3 ml-0-rtl"></a></li>
			</ul>

		</nav>
	</nav>
	<br>
	<br>
	<br>
	<br>
	<div id="wrapper" class="row wrapper">
		<div
			class="container-min-full-height d-flex justify-content-center align-items-center">
			<br> <br> <br> <br>
			<div class="login-center">
				<div class="navbar-header text-center mb-5">
					<a href="index-2.html">
						<h5>Enter your log in details</5>
					</a>
				</div>
				<!-- /.navbar-header -->
				<form class="form-signin" action="#" th:action="@{/detailLogin}"
					th:object="${user}" method="post" id="cma-form" autocomplete="off">
					<input type="hidden" name="statusCode" id="statusCode"
						th:value="${user.statusCode}" /> <input type="hidden"
						name="parentPage" id="parentPage" th:value="logincustomer" />

					<div th:if="${user.errorMessage} != null">
						<p style="text-align: center;" th:text="${user.errorMessage}">
							<font size="4"></font>
						</p>
					</div>
					<div class="form-group">
						<label for="example-email">Username</label> <input type="email"
							placeholder="Username123" th:value="${user.userId}"
							class="form-control form-control-line" name="userId" id="form3">
					</div>
					<div class="form-group">
						<label for="example-password">Password</label> <input
							type="password" placeholder="password"
							th:value="${user.password}"
							class="form-control form-control-line" name="password" id=form4"">
					</div>
					<div class="form-group">
						<button
							class="btn btn-block btn-lg btn btn-success text-uppercase fs-12 fw-600"
							type="submit">Login</button>
					</div>
					<!-- /.form-group -->
				</form>
				<!-- /.form-material -->
				<!-- /.btn-list -->
			</div>
			<!-- /.login-center -->
		</div>
		<!-- /.d-flex -->
	</div>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<div class="modal-dialog cascading-modal modal-avatar modal-sm"
			role="document" style="margin-top: 200px;">
			<!--Content-->
			<div class="modal-content" style="border-radius: 8px;">
				<!--Body-->
				<div class="modal-body text-center mb-1">
					<form th:action="@{/login}" method="post" th:object="${user}"
						autocomplete="off">
						<input name="_" type="hidden" value="" /> <input type="hidden"
							name="userId" id="userId" th:value="${user.userId}" /><input
							type="hidden" name="password" id="password"
							th:value="${user.password}" />
						<h5 class="mt-1 mb-2">Enter your Token</h5>

						<div th:if="${user.tokenRespMessage} != null">
							<p style="text-align: center;" th:text="${user.tokenRespMessage}">
								<font size="4"></font>
							</p>
						</div>

						<div class="md-form ml-0 mr-0">
							<input type="text" name="token" id="token"
								class="form-control ml-0" required="required"> <label
								for="form1" class="ml-0">Enter Token</label>
						</div>

						<div class="text-center mt-4">

							<button type="submit" class="btn btn-indigo">Continue to
								login</button>
						</div>
					</form>
				</div>

			</div>
			<!--/.Content-->
		</div>

	</div>


	<footer class="col-sm-12 text-center">
		<p>
			Copyright &copy;
			<script>
				document.write(new Date().getFullYear())
			</script>
			, Coronation Merchant Bank | All rights reserved
		</p>
	</footer>
	<!-- /.body-container -->
	<!-- Scripts -->
	<script type="text/javascript"
		src="ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/material-design.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			var statusCode = $('#statusCode').val();
			console.log("statusCode==", statusCode);
			//var modal = document.getElementById('modalLoginAvatarDemo');
			var modal = document.getElementById('myModal');
			if (statusCode == 'A') {
				console.log("inside statusCode==", statusCode);
				modal.style.display = "block";
			}

			$('#form3').change(function(event) {
				var userId = $('#form3').val();
				console.log("userId==", userId);
				$('#userId').val(userId);

			});

			$('#form4').change(function(event) {
				var pwd = $('#form4').val();
				console.log("pwd==", pwd);
				$('#password').val(pwd);

			});

		});
	</script>

</body>


<!-- Mirrored from bonvue.dharansh.in/default/page-login2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Apr 2018 11:47:29 GMT -->
</html>