<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" sizes="16x16" href="https://www.coronationsl.com/favicon.ico">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>CMA | Login</title>
<!-- Font Awesome -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet">
<link href="css/drop.css" rel="stylesheet">
<style>
/* Required for full background image */
html, body, header, .view {
	height: 100%;
}

@media ( max-width : 740px) {
	html, body, header, .view {
		height: 1000px;
	}
}

@media ( min-width : 800px) and (max-width: 850px) {
	html, body, header, .view {
		height: 650px;
	}
}

.top-nav-collapse {
	background-color: #003057 !important;
}

 .navbar:not(.top-nav-collapse) {
    background-image: linear-gradient(to top, #30cfd0 0%);
  }
@media ( max-width : 768px) {
	.navbar:not(.top-nav-collapse)
	{
	background:#003057! important;
	}

}
@media ( min-width : 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse)
	{
	background:#003057!important;
}

}
.btn {
	text-transform: none;
	
}

.btnn {
	text-transform: none;
	width: 260px;
}

.card {
	background-color: rgba(0, 0, 0, 0);
	border: solid #fff 1px;
	border-radius: 10px;
}

.md-form label {
	color: #ffffff;
}

h6 {
	line-height: 1.7;
}

@font-face {
	font-family: FedraSansStdLight;
	src: url(font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}


</style>
</head>

<body>
	<!-- Main navigation -->
	<header>
		<!-- Navbar -->
		<nav
			class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent-7"
					aria-controls="navbarSupportedContent-7" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent-7">
					<ul class="navbar-nav mr-auto">
						<p style="color: #fff; margin-top: 20px; font-size: 13px;">Contact Us</p>
					<a href="https://www.coronationmb.com/contact-us" target="_blank"><img src="img/ev.png" style="width: 30px; height: 30px; margin-top: 16px; margin-left: 15px;"></a>	
					</ul>
					<form class="form-inline">
						<img src="img/CMB_logo.png">
					</form>
				</div>
			</div>
		</nav>
		<!-- Navbar -->
		<!-- Full Page Intro -->
		<div class="view"
			style=" background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);">
			<!-- Mask & flexbox options-->
			<div
				class="mask rgba-gradient d-flex justify-content-center align-items-center">
				<!-- Content -->
				<div class="container">
					<!--Grid row-->
					<div class="row mt-5">
						<!--Grid column-->
						<div class="col-md-4  white-text text-center text-md-left">

						</div>
						<!--Grid column-->
						<!--Grid column-->
						<div class="col-md-4">
							<!--Form-->
							<div class="text-center">
								<h4 class="white-text">Welcome!</h4>
								<h6 style="color: #bebebe; margin-top: 15px;"></h6>
							</div>
							<div class="card wow fadeInRight" data-wow-delay="0.3s">
								<div class="card-body">
									<!-- Material form login -->

									<form th:action="@{/detailLogin}" th:object="${user}"
										method="post" autocomplete="off">
										<input type="hidden" name="statusCode" id="statusCode"
											th:value="${user.statusCode}" />
										<input type="hidden" name="parentPage" id="parentPage"
											th:value="login" />
										<!-- Material input email -->

										<div th:if="${user.errorMessage} != null">
											<p style="text-align: center;" th:text="${user.errorMessage}">
												<font size="4"></font>
											</p>
										</div>
										<div class="md-form">
											<i class="fa fa-user prefix white-text"></i> <input
												type="text" id="form3" name="userId"
												th:value="${user.userId}"
												required="required" class="form-control white-text"> <label
												for="form3" style="color: #a0a0a0;">User ID</label>
										</div>

										<!-- Material input password -->
										<div class="md-form">
											<i class="fa fa-lock prefix white-text"></i> <input
												type="password" id="form4" th:value="${user.password}"
												name="password" class="form-control white-text" required="required">
											<label for="form4" style="color: #a0a0a0;">Password</label>
										</div>

										<div class="text-center mt-4">
											<button class="btn btn-indigo btnn" type="submit">Login</button>
										</div>

										<!-- Material form login -->

										<form class="form-inline">
											<div class="form-check pull-left">
												<label class="form-check-label" for="checkbox104"><a
													href="/fusion/forgotpwd" style="font-size: 12px; color: #fff;">Forgot
														Password </a></label>
											</div>
											<div class="form-check pull-right">
												<label class="form-check-label" for="checkbox106"><a
													href="/fusion/forgotuid" style="font-size: 12px; color: #fff; margin-right:10px;">Forgot
														Username</a></label>
											</div>
										</form>
									</form>
								</div>
							</div>
							<!--/.Form-->
						</div>
						<div class="col-md-4  white-text text-center text-md-left">

						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</div>
			</div>
			<!-- Content -->
		</div>
		<!-- Mask & flexbox options-->
		</div>
		<!-- Full Page Intro -->
	</header>
	<!-- Main navigation -->
	<!--Main Layout-->
	<main> <!--Modal Form Login with Avatar Demo-->
	<div id="myModal" class="modal modal-backdrop show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog cascading-modal modal-avatar modal-sm"
			role="document" style="margin-top: 200px;">
			<!--Content-->
			<div class="modal-content" style="border-radius: 8px; ">
			  
				<a href="" class="close-modal"><span  id="close">&times;</span></a> 
				<!--Body-->
				<div class="modal-body text-center mb-1">
				
					<form th:action="@{/login}" method="post" th:object="${user}"
						autocomplete="off">
						<input name="_" type="hidden" value="" /> <input type="hidden"
							name="userId" id="userId" th:value="${user.userId}" /><input
							type="hidden" name="password" id="password"
							th:value="${user.password}" />

						<h5 class="mt-1 mb-2">Enter your Token</h5>

						<div th:if="${user.tokenRespMessage} != null">
							<p style="text-align: center;" th:text="${user.tokenRespMessage}">
								<font size="4"></font>
							</p>
						</div>

						<div class="md-form ml-0 mr-0">
							<input type="text" name="token" id="token" required="required"
								class="form-control ml-0"> <label for="token"
								class="ml-0">Enter Token</label>
						</div>

						<div class="text-center mt-4">
							<button type="submit" value="submit" class="btn btn-indigo">Login</button>
						</div>
					</form>
				</div>

			</div>
			<!--/.Content-->
		</div>
	</div>
	<!--Modal Form Login with Avatar Demo--> </main>
	<!--Main Layout-->
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<!-- Tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var span = document.getElementById("close");
			var statusCode = $('#statusCode').val();
			console.log("statusCode==", statusCode);
			//var modal = document.getElementById('modalLoginAvatarDemo');
			var modal = document.getElementById('myModal');
			if (statusCode == 'A') {
				console.log("inside statusCode==", statusCode);
				modal.style.display = "block";
			}

			$('#form3').change(function(event) {
				var userId = $('#form3').val();
				console.log("userId==", userId);
				$('#userId').val(userId);

			});

			$('#form4').change(function(event) {
				var pwd = $('#form4').val();
				console.log("pwd==", pwd);
				$('#password').val(pwd);

			});
			
			span.onclick = function(event) {
				// if (event.target == modal) {
				modal.style.display = "none";
				// }
			}

		});
	</script>
</body>
</html>