<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="css/bootswatch.css">
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet">

<title>Hello, world!</title>
</head>
<style>
/* Required for full background image */
html, body, header, .view {
	height: 100%;
}

@media ( max-width : 740px) {
	html, body, header, .view {
		height: 1000px;
	}
}

@media ( min-width : 800px) and (max-width: 850px) {
	html, body, header, .view {
		height: 650px;
	}
}

.top-nav-collapse {
	background-color: #003057 !important;
}

.navbar






:not



 



(
.top-nav-collapse



 



)
{
background-image






:



 



linear-gradient






(15
deg
,
#13547a



 



0%,
#13547a



 



100%);
}
@media ( max-width : 768px) {
	.navbar
	
	
	
	
	
	
	:not
	
	
	
	 
	
	
	
	(
	.top-nav-collapse
	
	
	
	 
	
	
	
	)
	{
	background
	
	
	
	
	
	
	:
	
	
	
	 
	
	
	
	#003057
	
	
	
	 
	
	
	
	!
	important
	
	
	
	
	
	
	;
}

}
@media ( min-width : 800px) and (max-width: 850px) {
	.navbar
	
	
	
	
	
	
	:not
	
	
	
	 
	
	
	
	(
	.top-nav-collapse
	
	
	
	 
	
	
	
	)
	{
	background
	
	
	
	
	
	
	:
	
	
	
	 
	
	
	
	#003057
	
	
	
	 
	
	
	
	!
	important
	
	
	
	
	
	
	;
}

}
.btn {
	text-transform: none;
}

.card {
	background-color: rgba(0, 0, 0, 0);
	border: solid #fff 1px;
	border-radius: 10px;
}

.md-form label {
	color: #ffffff;
}

h6 {
	line-height: 1.7;
}

@font-face {
	font-family: FedraSansStdLight;
	src: url(font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<br> <br> <br>
				<form th:action="@{/detailLogin}" th:object="${user}" method="post"
					autocomplete="off">
					<fieldset>
						<input type="hidden" name="statusCode" id="statusCode"
							th:value="${user.statusCode}" />
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Username</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="form3" name="userId"
									th:value="${user.userId}" placeholder="Username" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" id="form4"
									th:value="${user.password}" name="password"
									placeholder="Password" required="required">
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-8 col-lg-offset-4">
								<button type="submit" class="btn btn-primary"
									style="background-color: #003057; width: 150px;">Continue
									to login</button>
							</div>
						</div>
					</fieldset>
				</form>

			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<div class="modal-dialog cascading-modal modal-avatar modal-sm"
			role="document" style="margin-top: 200px;">
			<!--Content-->
			<div class="modal-content" style="border-radius: 8px;">
				<!--Body-->
				<div class="modal-body text-center mb-1">
					<form th:action="@{/login}" method="post" th:object="${user}"
						autocomplete="off">
						<input name="_" type="hidden" value="" /> <input type="hidden"
							name="userId" id="userId" th:value="${user.userId}" /><input
							type="hidden" name="password" id="password"
							th:value="${user.password}" />
						<h5 class="mt-1 mb-2">Enter your Token</h5>

						<div th:if="${user.tokenRespMessage} != null">
							<p style="text-align: center;"
								th:text="${user.tokenRespMessage}">
								<font size="4"></font>
							</p>
						</div>

						<div class="md-form ml-0 mr-0">
							<input type="text" name="token" id="token"
								class="form-control ml-0" required="required"> <label for="form1"
								class="ml-0">Enter Token</label>
						</div>

						<div class="text-center mt-4">

							<button type="submit" class="btn btn-indigo">Continue to
								login</button>
						</div>
					</form>
				</div>

			</div>
			<!--/.Content-->
		</div>

	</div>


	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<!-- Tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			var statusCode = $('#statusCode').val();
			console.log("statusCode==", statusCode);
			//var modal = document.getElementById('modalLoginAvatarDemo');
			var modal = document.getElementById('myModal');
			if (statusCode == 'A') {
				console.log("inside statusCode==", statusCode);
				modal.style.display = "block";
			}

			$('#form3').change(function(event) {
				var userId = $('#form3').val();
				console.log("userId==", userId);
				$('#userId').val(userId);

			});

			$('#form4').change(function(event) {
				var pwd = $('#form4').val();
				console.log("pwd==", pwd);
				$('#password').val(pwd);

			});

		});
	</script>
</body>
</html>