<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap Template</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/font-awesome.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <style>
  /* Required for full background image */

  html,
  body,
  header,
  .view {
    height: 100%;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: 650px;
    }
  }

  .top-nav-collapse {
    background-color: #3f51b5 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }



  .rgba-gradient {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }

.btn {
    text-transform: none;
    
}

  .card {
    background-color: rgba(0, 0, 0, 0);
    border: solid #fff 1px;

  }
  .imgimg{
    margin-right: 50px;
  }

  .md-form label {
    color: #ffffff;
  }

  h6 {
    line-height: 1.7;
  }

      @font-face {
        font-family: FedraSansStdLight;
        src: url(font/FedraSansStd-LightLF.otf);
    }
    
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
{
        
        font-family: inherit;

font-weight: 400;
line-height: 1.71429;
        
    }

    body {
        background: #fff;
        color: #6a6d71;
        font-family: 'FedraSansStdLight';
        font-weight: normal;
        color: #003057;
        height: 100%;
        
    }
       
  </style>
</head>

<body>
  <!-- Main navigation -->
  <header>
  
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('img/gb.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
           <div class="container" style="background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);">           
              <div class="row" style="padding: 30px; height: 500%;">
 
              <div class="col-md-6">

              </div>
             <div class="col-md-6">
                <img src="img/CMB_logo_brown.png" class="pull-right" style="padding-bottom: 10px;">
              </div>
              <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                         <div class="col-md-12 text-center text-md-left" >
                            <h5 class="h4-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" >Welcome <span style="color: #9a6a47;" th:text="${user.customer.firstName} + ' ' + ${user.customer.lastName}">Aliko Dangote</span>  </h5>
                          <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">One more to go, change your password also...</h6>
                           <div   class="profile-userpic"
											th:if="${user.image} == null">
											<img style="width: 300px; height: 250px;" src="img/avatar.png ">
										</div>
										<div class="profile-userpic"
											th:if="${user.image} != null">
											<img style="width: 300px; height: 250px;"
												th:src="@{${user.image.fileName}}"
												class="img-responsive" alt="">
										</div>
                            
                         </div>
                         
                  </div>

                  <div class="col-md-6">
                    <div class=" col-md-10 offset-1 wow fadeInRight" data-wow-delay="0.3s" style="padding-top: 50px;">
                      <div class="card-body " style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); border-radius: 8px; ">
                        <!--Header-->
                        <!--Body-->
						<form class="form-signin" action="#"
							th:action="@{/saveChangedPassword}"
							th:object="${user}" method="post" id="cma-form">
							<input type="hidden" id="userId" name="userId" th:value="${user.userId}" class="form-control">
                            <!-- Material input email -->

							<div th:if="${user.errorMessage} != null">
								<p style="text-align: center;"
									th:text="${user.errorMessage}">
									<font size="4"></font>
								</p>
							</div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix white-text"></i>
                                <input type="password" id="oldPassword" name="oldPassword" class="form-control">
                                <label for="materialFormLoginPasswordEx">New password</label>
                            </div>

                            <!-- Material input password -->
                            <div class="md-form">
                                <i class="fa fa-lock prefix white-text"></i>
                                <input type="password" id="password" name="password" class="form-control">
                                <label for="materialFormLoginPasswordEx">Confirm password</label>
                            </div>

                            <div class="text-center mt-4">
                                <button class="btn btn-indigo" type="submit">Set New Password</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
              </div>
              </div>
            </div>

            <!--Grid column-->
          </div>
          <!--Grid row-->
        

  </header>
  <!-- Main navigation -->
  <!--Main Layout-->
  <main>

  </main>
  <!--Main Layout-->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <!-- Tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script>
  new WOW().init();
  </script>
</body>
</html>