<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<link rel="icon" type="image/png" sizes="16x16"
	href="https://www.coronationsl.com/favicon.ico">
<meta name="author" content="SmartUniversity" />
<title>CMA | Profile</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
	
<!-- data tables -->
<link
	href="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />
<!--bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />

<!-- favicon -->
<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(dashboard/font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<!-- END HEAD -->
<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
			<div th:replace="navbar :: navbar"></div>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
				<div th:replace="header-2 :: header-2"></div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<br>
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">User Profile</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- BEGIN PROFILE SIDEBAR -->
							<div class="profile-sidebar">
								<div class="">
									<div class="">
										<form class="form-signin" action="#"
											th:action="@{/submitImageDetail}" th:object="${image}"
											method="post" id="image-form" enctype="multipart/form-data">
											<input type="hidden" name="userId" id="userId"
												th:value="${session.dashboardDetail.user.id}" />
											<div class="row">
												<div class="profile-userpic img "
													th:if="${image.user.image} == null">
													<img src="dashboard/img/dp.jpg" class="img-responsive"
														style="" alt="">
												</div>
												<div class="profile-userpic"
													th:if="${image.user.image} != null">
													<img th:src="@{${image.user.image.fileName}}"
														class="img-responsive" alt="" style="width: 250px; height: 250px;">
												</div>
											</div>
											<div class="profile-usertitle">
												<div class="profile-usertitle-name"
													th:text="${session.dashboardDetail.user.customer.name}">
													John Doe</div>
											</div>
											<center>
											<input type="file" class="form-control" name="picture"
												required="required" id="picture"
												placeholder="Upload Picture" accept=".jpg,.png,.jpeg,.bmp"
												style="margin-left: 8px; width: 210px;" />
												<br>
												<button type="submit" class="btn btn-primary" id="submit"
													>Apply</button></center>
												
										</form>
									</div>
								</div>
							</div>
							<div class="profile-content">
								<div class="row">
									<div class="profile-tab-box">
										<div class="p-l-20">
											<ul class="nav ">
												<li class="nav-item tab-all"><a
													class="nav-link active show" href="#tab1" data-toggle="tab">Profile</a></li>
												<li class="nav-item tab-all p-l-20"><a class="nav-link"
													href="#tab3" data-toggle="tab">Settings</a></li>
											</ul>
										</div>
									</div>
									<div class="white-box">
										<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane active fontawesome-demo" id="tab1">
												<div id="biography">
													<div class="row">
														<div class="col-md-6 col-6 b-r">
															<strong style="font-size: 24px;"
																th:text="${session.dashboardDetail.user.customer.name}">David
																Doe</strong> <br> <i class="fa fa-map-marker"
																aria-hidden="true"></i> <span class="title"
																style="font-size: 12px;">Currently in Nigeria</span>
														</div>
														<br>
													</div>
													<hr>
													<p class="m-t-30"
														style="background-color: #f6f6f6; border-radius: 4px; padding: 20px 15px; height: 120px; font-size: 15px;">
														<i class="fa fa-phone fa-lg"></i> <span
															th:text="${session.dashboardDetail.user.phone}"></span><span
															class="item-box"> </span> &nbsp;<br> <br> <i
															class="fa fa-envelope-open fa-lg"></i> <span
															th:text="${session.dashboardDetail.user.email}"
															class="item-box"> </span> &nbsp;
													</p>
													<hr>

													<h4 class="font-bold">My Account(s)</h4>
													<hr>
													<div class="row">
													<div class="col-md-12">
													<table id="example" class="display full-width">
														<thead>
															<td>Accounts</td>
															<td class="pull-right">Account Number(s)</td>
														</thead>
														<tbody>
															<!-- <tr>
																<td >Coronation Merchant Bank</td>
																<td >0190982678 | 6563894098</td>
															</tr>
															<tr>
																<td class="pull-left">Coronation Merchant Bank</td>
																<td class="pull-right">0190982678 | 6563894098</td>
															</tr>-->
															<tr 
																th:each="detail,iterationStatus  : ${session.dashboardDetail.currentAccountList}">
																<td>Coronation Merchant Bank</td>
																<td class="pull-right" th:text="${detail.accountNumber}"></td>
															</tr>
															<tr
																th:each="detail,iterationStatus  : ${session.dashboardDetail.domAccountList}">
																<td>Coronation Merchant Bank</td>
																<td class="pull-right" th:text="${detail.accountNumber}"></td>
															</tr>
														</tbody>
													</table>
													</div></div>
												</div>
											</div>
											<div class="tab-pane" id="tab3">
												<div class="row">
													<div class="col-md-12 col-sm-12">
														<div class="card-head">
															<header>Password Change</header>
															<button id="panel-button2"
																class="mdl-button mdl-js-button mdl-button--icon pull-right"
																data-upgraded=",MaterialButton">
																<i class="material-icons">more_vert</i>
															</button>

														</div>
														<div class="card-body " id="bar-parent1">
															<form class="form-signin" action="#"
																th:action="@{/changeCurrentPassword}"
																th:object="${user}" method="post" id="userDetail-form">
																<input type="hidden" name="id" id="id"
																	th:value="${session.dashboardDetail.user.id}" />
																<input type="hidden" name="errorMessage" id="errorMessage"
																	th:value="${user.errorMessage}" />

																<!-- <div th:if="${user.errorMessage} != null">
																	<p style="text-align: center;"
																		th:text="${user.errorMessage}">
																		<font size="4"></font>
																	</p>
																</div> -->

																<div class="form-group">
																	<label for="simpleFormPassword">Current
																		Password</label> <input type="password" id="oldPassword"
																		name="oldPassword" class="form-control"
																		placeholder="Current Password" required="required">
																</div>
																<div class="form-group">
																	<label for="simpleFormPassword">New Password</label> <input
																		type="password" id="password" name="password"
																		class="form-control" placeholder="New Password"
																		required="required">
																</div>
																<button type="submit" class="btn btn-primary">Submit</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END PROFILE CONTENT -->
						</div>
					</div>
				</div>
				<!-- end page content -->
			</div>
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner">2018 &copy; CMB</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	<input type="hidden" id='latitudeAndLongitude'></input>
<input type="hidden" id='address'></input> 
	
	<!-- start js include path -->
	<script src="dashboard/plugins/jquery/jquery.min.js"></script>
	<script src="dashboard/plugins/popper/popper.min.js"></script>
	<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
	<script
		src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- bootstrap -->
	<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="dashboard/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>

		<script src="dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
	<script
		src="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
	<script src="dashboard/js/pages/table/table_data.js"></script>
		
	<!-- Common js-->
	<script src="dashboard/js/app.js"></script>
	<script src="dashboard/js/layout.js"></script>
	<script src="dashboard/js/theme-color.js"></script>
	<!-- Material -->
	<script src="dashboard/plugins/material/material.min.js"></script>
	<!-- animation -->
	<script src="dashboard/js/pages/ui/animations.js"></script>
	<!-- end js include path -->
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDHCqy5iNpEcnwb6jRGZpCKe6_pjmnKWaw">
		$(document).ready(function() {
			if($('#errorMessage').val() != ''){
				alert($('#errorMessage').val());
			}
			
			var latitudeAndLongitude=document.getElementById("latitudeAndLongitude"),
			location={
			    latitude:'',
			    longitude:''
			};

			if (navigator.geolocation){
			  navigator.geolocation.getCurrentPosition(showPosition);
			}
			else{
			  latitudeAndLongitude.innerHTML="Geolocation is not supported by this browser.";
			}

			function showPosition(position){ 
			    location.latitude=position.coords.latitude;
			    location.longitude=position.coords.longitude;
			    latitudeAndLongitude.innerHTML="Latitude: " + position.coords.latitude + 
			    "<br>Longitude: " + position.coords.longitude; 
			    var geocoder = new google.maps.Geocoder();
			    var latLng = new google.maps.LatLng(location.latitude, location.longitude);

			 if (geocoder) {
			    geocoder.geocode({ 'latLng': latLng}, function (results, status) {
			       if (status == google.maps.GeocoderStatus.OK) {
			         console.log(results[0].formatted_address); 
			         $('#address').html('Address:'+results[0].formatted_address);
			       }
			       else {
			        $('#address').html('Geocoding failed: '+status);
			        console.log("Geocoding failed: " + status);
			       }
			    }); //geocoder.geocode()
			  }      
			} //showPosition
		});
	</script>
</body>
</html>