				<div class="sidebar-container">
					<div class="sidemenu-container navbar-collapse collapse fixed-menu">
						<div id="remove-scroll">
							<ul class="sidemenu page-header-fixed p-t-20"
								data-keep-expanded="false" data-auto-scroll="true"
								data-slide-speed="200">
								<li class="sidebar-toggler-wrapper hide">
									<div class="sidebar-toggler">
										<span></span>
									</div>
								</li>
								
								<li class="sidebar-user-panel">
									<div class="user-panel">
										<div class="row">
											<!-- <div class="sidebar-userpic">
											<img th:src="@{${localImg}}" class="img-responsive"
												alt="dashboard/img/dp.jpg">
										</div>
										-->
										
											<div class="profile-userpic"
												th:if="${imageuser.image} == null">
												<img src="dashboard/img/dp.jpg" class="img-responsive"
													alt="" >
											</div>
											<div class="profile-userpic"
												th:if="${imageuser.image} != null">
												<img th:src="@{${imageuser.image.fileName}}"
													class="img-responsive" alt=""  style="width: 160px; height: 190px;">
											</div>
										</div>
										<div class="profile-usertitle">
											<div class="sidebar-userpic-name"
												th:text="${customerDashboard.user.customer.name}">
												David Deo</div>
											<div class="profile-usertitle-job"
												th:text="${session.user.userRole.roleName}">Manager</div>

										</div>
										<br>
										<div class="sidebar-userpic-btn">
											<a class="tooltips" href="/fusion/userProfile" data-placement="top"
												data-original-title="Profile"> <i class="material-icons">person_outline</i>
											</a> <a class="tooltips" href="email_inbox.html"
												data-placement="top" data-original-title="Mail"> <i
												class="material-icons">mail_outline</i>
											</a> <a class="tooltips" href="chat.html" data-placement="top"
												data-original-title="Chat"> <i class="material-icons">chat</i>
											</a> <a class="tooltips" href="/fusion" data-placement="top"
												data-original-title="Logout"> <i class="material-icons">input</i>
											</a>
										</div>
									</div>
								</li>
								<li class="menu-heading"><span></span></li>
								<li class="nav-item start"
									th:if="${customerDashboard.app1} == 1"><a href="#"
									class="nav-link nav-toggle"> <i class="material-icons">style</i>
										<span class="title">My Accounts</span> <span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">Current
													- ₦ 50,000,000</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">DOM(USD)
													- $ 50,000,000</span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">DOM(GBP)
													- £ 50,000,000</span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.user.customer.name}">DOM(EUR)
													- € 50,000,000</span>
										</a></li>
									</ul></li>
								<li class="nav-item" th:if="${customerDashboard.app2} == 2"><a
									href="#" class="nav-link nav-toggle"> <i
										class="material-icons">landscape</i> <span class="title">My Funds</span> <span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.cfifValueStr}">Fixed
													Income - ₦ 50,000,000</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.cbfValueStr}">Balanced
													Funds - ₦ 50,000</span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.cmmfValueStr}">Money
													Market Funds - ₦ 200,000</span>
										</a></li>
									</ul></li>
								<li class="nav-item" th:if="${customerDashboard.app3} == 3"><a
									href="#" class="nav-link nav-toggle"> <i
										class="material-icons">https</i> <span class="title">Brokerage</span>
										<span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.secCashValueStr}">Cash -
													₦ 50,000,000</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title"
												th:text="${customerDashboard.secEquitiesValueStr}">Equity
													- $ 50,000,000</span>
										</a></li>
									</ul></li>
								<li class="nav-item" th:if="${customerDashboard.app4} == 4"><a
									href="#" class="nav-link nav-toggle"> <i
										class="material-icons">equalizer</i> <span class="title">Trust</span>
										<span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="#" class="nav-link ">
												<span class="title">Investment - ₦ 50,000,000</span> <span
												class="selected"></span>
										</a></li>
									</ul></li>
								<li class="nav-item"><a href="#"
									class="nav-link nav-toggle"> <i class="material-icons">dns</i>
										<span class="title">Transactions</span> <span class="arrow"></span>
								</a>
									<ul class="sub-menu">
										<li class="nav-item active"><a href="/fusion/transfer"
											class="nav-link "> <span class="title">Bank
													Transfer</span> <span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="/fusion/topup"
											class="nav-link "> <span class="title">Funds Topup</span>
												<span class="selected"></span>
										</a></li>
										<li class="nav-item active"><a
											href="/fusion/customerBeneficiaries" class="nav-link "> <span
												class="title">Beneficiary Management</span> <span
												class="selected"></span>
										</a></li>
										<li class="nav-item active"><a href="/fusion/transactionHistory"
											class="nav-link "> <span class="title">Transaction
													History</span> <span class="selected"></span>
										</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>