<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<meta name="author" content="SmartUniversity" />
<title>CMB | AM Summary</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<!--bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/custom.css" rel="stylesheet" type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(dashboard/font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<!-- END HEAD -->
<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
			<div th:replace="navbar :: navbar"></div>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
					<div th:replace="header-2 :: header-2"></div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="row">

						<div class="col-md-12 ">
							<br>
							<div class="panel tab-border card-box" style="margin-top: 30px;">
								<header class="panel-heading panel-heading-gray custom-tab">
									<center>
										<h4 style="color: #fff;">Summary</h4>
									</center>
								</header>
								<div class="panel-body">
									<div class="tab-content">
										<div class="row">
											<form class="form-signin-transfer" action="#"
												th:action="@{/postTopupTransfer}"
												th:object="${transactionDetail}" method="post"
												id="transactionDetail-form">
												<input type="hidden" name="id" id="id"
													th:value="${transactionDetail.id}" /> <input type="hidden"
													name="userId" id="userId"
													th:value="${session.dashboardDetail.user.id}" />

												<div class="col-md-12 ">
													<table class="table">
														<tr th:if="${transactionDetail.application.id} == 2">
															<th>Funds Type</th>
															<td
																th:text="${transactionDetail.mutualFundProduct.fundName}">Coronation
																Fixed Income Funds</td>
														</tr>
														<tr>
															<th>Source account</th>
															<td th:text="${transactionDetail.topUpSource.type}">My
																CoronationMB Account</td>
														</tr>
														<tr>
															<th>Destination</th>
															<td th:text="${transactionDetail.topUpType.type}">Self</td>
														</tr>
														<tr>
															<th>Destination account</th>
															<td th:text="${transactionDetail.customerAid}">0989998990</td>
														</tr>
														<tr>
															<th>Amount</th>
															<td th:text="${transactionDetail.formattedAmount}">20</td>
														</tr>
														<tr>
															<th>Remarks</th>
															<td th:text="${transactionDetail.remark}">Personal
																Funds</td>
														</tr>
													</table>

													<div th:if="${transactionDetail.tokenRespMessage} != null">
														<p style="text-align: center;"
															th:text="${transactionDetail.tokenRespMessage}">
															<font size="4"></font>
														</p>
													</div>
													<div class="form-group">
														<label>Token *</label> <input type="text" name="token"
															id="token" placeholder="" class="form-control full-width"
															required="required" /> <br />
														<div class="form-group no-pad-left">
															<br>
															<center>
																<button type="submit" class="btn btn-info">Transfer</button>
																<button type="button" class="btn btn-default" id="previous">Back</button>
															</center>
														</div>
													</div>

													<!--</div>-->

												</div>

											</form>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="page-content-wrapper">
					<div class="page-content"></div>
				</div>
			</div>
			<!-- end page container -->
			<!-- start footer -->
			<div class="page-footer">
				<div class="page-footer-inner">2018 &copy; CMB</div>
				<div class="scroll-to-top">
					<i class="icon-arrow-up"></i>
				</div>
			</div>
			<!-- end footer -->
		</div>
		<!-- start js include path -->
		<script src="dashboard/plugins/jquery/jquery.min.js"></script>
		<script src="dashboard/plugins/popper/popper.min.js"></script>
		<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
		<script
			src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<!-- bootstrap -->
		<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script
			src="dashboard/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
		<!-- Common js-->
		<script src="dashboard/js/app.js"></script>
		<script src="dashboard/js/layout.js"></script>
		<script src="dashboard/js/theme-color.js"></script>
		<!-- Material -->
		<script src="dashboard/plugins/material/material.min.js"></script>
		<!-- animation -->
		<script src="dashboard/js/pages/ui/animations.js"></script>
		<!-- end js include path -->
		<script type="text/javascript">
			$(document).ready(
					function() {
						document.getElementById("previous").addEventListener(
								"click", function() {
									console.log('previous');

									parent.history.back();
									return false;
								});
					});
		</script>
</body>
</html>