<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<link rel="icon" type="image/png" sizes="16x16" href="https://www.coronationsl.com/favicon.ico">
<meta name="author" content="SmartUniversity" />
<title>CMA | Transaction History</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<!-- bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="dashboard/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css" />

<!-- data tables -->
<link
	href="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(dashboard/font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<!-- END HEAD -->
<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
			<!-- start header -->
				<div th:replace="navbar :: navbar"></div>
			<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
				<div th:replace="header-2 :: header-2"></div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
			<br>
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Transaction History</div>
							</div>

						</div>
					</div>
					<!-- Start Bank -->
					<div class="row" th:if="${session.dashboardDetail.app1} == 1">
						<div class="col-md-12">
							<div class="card">
								<div class="card-head">
									<header style="font-size: 16px;">Bank</header>
								</div>
								<form class="form-signin" action="#"
									th:action="@{/transactionHistory}"
									th:object="${transactionHist}" method="post"
									id="transactionDetail-form">
									<div class="card-body ">
										<div class="row p-b-20">
											<div class="col-md-6 col-sm-6 col-6">
												<br>
												<div class=" form-group row">
													<label class="control-label col-md-3">My Accounts </label>
													<div class="col-md-6">
														<!-- <select class="form-control pull-left" name="select">
                                                        <option value="">Account</option>
                                                        <option value="Category 1">Category 1</option>
                                                        <option value="Category 2">Category 2</option>
                                                        <option value="Category 3">Category 5</option>
                                                        <option value="Category 4">Category 4</option>
                                                    </select> -->
														<select name="bankStmtAccount" id="bankStmtAccount"
															style="width: 420px; height: 33px;"
															th:field="*{bankStmtAccount}">
															<option
																th:each="account : ${transactionHist.currentAccountList}"
																th:value="${account.accountNumber}"
																th:text="${account.accountNumber}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-2"></div>
											<div class="col-md-2 col-sm-2 col-2">
												<div class=" btn-group pull-right">
													<div
														class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
														<label class="mdl-textfield__label">From</label> <input
															class="mdl-textfield__input" type="text"
															id="bankStmtFromDate" name="bankStmtFromDate" th:value="${transactionHist.bankStmtFromDate}">
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-2">
												<div class=" btn-group pull-right">
													<div
														class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
														<label class="mdl-textfield__label">To</label> <input
															class="mdl-textfield__input" type="text"
															id="bankStmtToDate" name="bankStmtToDate" th:value="${transactionHist.bankStmtToDate}">
													</div>
												</div>
											</div>
										</div>
										<div class="row p-b-20">
											<div class="col-md-12">
												Opening Balance <strong th:text="${transactionHist.openingBalance}">N 2,000,000</strong>
											</div>
										</div>
										<div class="table-scrollable">
											<table id="example1" class="display full-width">
												<thead>
													<tr>
														<th>Transaction Naration</th>
														<th>Post Date</th>
														<th>Value Date</th>
														<th>Debit</th>
														<td>Credit</td>
														<td>Tran ID</td>
														<td>Acct Balance</td>
													</tr>
												</thead>
												<tbody>
													<tr
														th:each="detail,iterationStatus  : ${transactionHist.bankTransactionsDetail}">

														<td style="text-align: left;"><a
															th:text="${detail.fiTxnSummary.txnDesc}"></a></td>
														<td style="text-align: left;" th:text="${detail.pstdDate}"></td>
														<td style="text-align: left;"
															th:text="${detail.valueDate}"></td>
														<td style="text-align: left;" th:text="${detail.debit}"></td>
														<td style="text-align: left;" th:text="${detail.credit}"></td>
														<td style="text-align: left;" th:text="${detail.txnId}"></td>
														<td style="text-align: left;"
															th:text="${detail.amountValue}"></td>
													</tr>

												</tbody>
											</table>
											<div class="col-md-12">
												<div class="clearfix"></div>
												<hr>
												<div class="text-left">
													<button class="btn btn-danger" type="submit">CSV</button>
													<button class="btn btn-primary" type="submit">Excel</button>
													<button onclick="javascript:window.print();"
														class="btn btn-youtube btn-outline" type="button">
														<span><i class="fa fa-print"></i> PDF</span>
													</button>
													<button class="btn btn-twitter" type="submit">Word</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- End Bank -->

					<!-- Start Asset Management -->
					<div class="row" th:if="${session.dashboardDetail.app2} == 2">
						<div class="col-md-12">
							<div class="card">
								<form class="form-signin" action="#"
									th:action="@{/transactionHistory}"
									th:object="${transactionHist}" method="post"
									id="transactionDetail-form">
									<div class="card-head">
										<header style="font-size: 16px;">Asset Management</header>
										<header style="font-size: 15px;" class="pull-right"
											th:text="${transactionHist.amCustAID}">Account ID =
											00576</header>
									</div>
									<div class="card-body ">
										<div class="row p-b-20">
											<div class="col-md-6 col-sm-6 col-6">
												<br>
												<div class=" form-group row">
													<label class="control-label col-md-3">My Accounts </label>
													<div class="col-md-6">
														<!-- <select class="form-control pull-left" name="select">
                                                        <option value="">Account</option>
                                                        <option value="Category 1">Category 1</option>
                                                        <option value="Category 2">Category 2</option>
                                                        <option value="Category 3">Category 5</option>
                                                        <option value="Category 4">Category 4</option>
                                                    </select> -->
														<select name="amCustAID" id="amCustAID"
															style="width: 420px; height: 33px;"
															th:field="*{amCustAID}">
															<option
																th:each="account : ${transactionHist.amCustAIDList}"
																th:value="${account.customerAid}"
																th:text="${account.customerAid}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-2"></div>
											<div class="col-md-2 col-sm-2 col-2">
												<div class=" btn-group pull-right">
													<div
														class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
														<label class="mdl-textfield__label">From</label> <input
															class="mdl-textfield__input" type="text"
															id="amStmtFromDate" name="amStmtFromDate" th:value="${transactionHist.amStmtFromDate}">
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-2">
												<div class=" btn-group pull-right">
													<div
														class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
														<label class="mdl-textfield__label">To</label><input
															class="mdl-textfield__input" type="text"
															id="amStmtToDate" name="amStmtToDate" th:value="${transactionHist.amStmtToDate}">
													</div>
												</div>
											</div>
										</div>
										<div class="table-scrollable">
											<table id="example3" class="display full-width">
												<thead>
													<tr>
														<th>Valuation</th>
														<th>Description</th>
														<th>Debit</th>
														<th>Credit</th>
													</tr>
												</thead>
												<tbody>
													<tr
														th:each="detail,iterationStatus  : ${transactionHist.amTransactionsDetail}">

														<td style="text-align: left;"><a
															th:text="${detail.valueDate}"></a></td>
														<td style="text-align: left;"
															th:text="${detail.description}"></td>
														<td style="text-align: left;" th:text="${detail.debit}"></td>
														<td style="text-align: left;" th:text="${detail.credit}"></td>
													</tr>
												</tbody>
											</table>
											<div class="col-md-12">
												<div class="clearfix"></div>
												<hr>
												<div class="text-left">
													<button class="btn btn-danger" type="submit">CSV</button>
													<button class="btn btn-primary" type="submit">Excel</button>
													<button onclick="javascript:window.print();"
														class="btn btn-youtube btn-outline" type="button">
														<span><i class="fa fa-print"></i> PDF</span>
													</button>
													<button class="btn btn-twitter" type="submit">Word</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- End Asset Management -->

					<!-- Start Securities -->
					<div class="row" th:if="${session.dashboardDetail.app3} == 3">
						<div class="col-md-12">
							<div class="card">
								<form class="form-signin" action="#"
									th:action="@{/transactionHistory}"
									th:object="${transactionHist}" method="post"
									id="transactionDetail-form">
									<div class="card-head">
										<header style="font-size: 16px;">Securities</header>
										<header class="pull-right "
											style="font-size: 15px; text-align: right"
											; th:text="${transactionHist.secCustAID}">
											Account ID = 00576<br>CSCS ID = 01248
										</header>
									</div>
									<div class="card-body ">
										<div class="row p-b-20">
											<div class="col-md-6 col-sm-6 col-6">
												<br>
												<div class=" form-group row">
													<label class="control-label col-md-3">My Accounts </label>
													<div class="col-md-6">
														<!-- <select class="form-control pull-left" name="select">
                                                        <option value="">Account</option>
                                                        <option value="Category 1">Category 1</option>
                                                        <option value="Category 2">Category 2</option>
                                                        <option value="Category 3">Category 5</option>
                                                        <option value="Category 4">Category 4</option>
                                                    </select> -->
														<select name="secCustAID" id="secCustAID"
															style="width: 420px; height: 33px;"
															th:field="*{secCustAID}">
															<option th:each="account : ${transactionHist.secCustAIDList}"
																th:value="${account.customerAid}"
																th:text="${account.customerAid}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-2"></div>
											<div class="col-md-2 col-sm-2 col-2">
												<div class=" btn-group pull-right">
													<div
														class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
														<label class="mdl-textfield__label">From</label><input
															class="mdl-textfield__input" type="text"
															id="secStmtFromDate" name="secStmtFromDate"  th:value="${transactionHist.secStmtFromDate}">
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-2">
												<div class=" btn-group pull-right">
													<div
														class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
														<label class="mdl-textfield__label">To</label><input
															class="mdl-textfield__input" type="text"
															id="secStmtToDate" name="secStmtToDate"  th:value="${transactionHist.secStmtToDate}">
													</div>
												</div>
											</div>
										</div>
										<div class="table-scrollable">
											<table id="example4" class="display full-width">
												<thead>
													<tr>
														<th>Transaction Date</th>
														<th>Effective Date</th>
														<th>Description</th>
														<th>Amount</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="detail,iterationStatus  : ${transactionHist.secTransactionsDetail}">
													<td style="text-align: left;"><a
															th:text="${detail.txnDate}"></a></td>
													<td style="text-align: left;"><a
															th:text="${detail.effectiveDate}"></a></td>
														<td style="text-align: left;"
															th:text="${detail.description}"></td>
														<td style="text-align: left;" th:text="${detail.amount}"></td>
													</tr>
												</tbody>
											</table>
											<div class="col-md-12">
												<div class="clearfix"></div>
												<hr>
												<div class="text-left">
													<button class="btn btn-danger" type="submit">CSV</button>
													<button class="btn btn-primary" type="submit">Excel</button>
													<button onclick="javascript:window.print();"
														class="btn btn-youtube btn-outline" type="button">
														<span><i class="fa fa-print"></i> PDF</span>
													</button>
													<button class="btn btn-twitter" type="submit">Word</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- End Securities -->

				</div>
			</div>
			<!-- end page content -->
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner">2018 &copy; CMA</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	<!-- start js include path -->
	<script src="dashboard/plugins/jquery/jquery.min.js"></script>
	<script src="dashboard/plugins/popper/popper.min.js"></script>
	<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
	<script
		src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- bootstrap -->
	<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- data tables -->
	<script src="dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
	<script
		src="dashboard/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
	<script src="dashboard/js/pages/table/table_data.js"></script>
	<script
		src="dashboard/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
	<script
		src="dashboard/plugins/material-atetimepicker/datetimepicker.js"></script>

	<script src="dashboard/js/app.js"></script>
	<script src="dashboard/js/layout.js"></script>
	<script src="dashboard/js/theme-color.js"></script>
	<!-- Material -->
	<script src="dashboard/plugins/material/material.min.js"></script>
	<!-- animation -->

	<script
		src="dashboard/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
	<script
		src="dashboard/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
	<script
		src="dashboard/plugins/material-datetimepicker/datetimepicker.js"></script>

</body>

<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/table_data.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 May 2018 15:23:56 GMT -->
</html>