<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<meta name="author" content="SmartUniversity" />
<link rel="icon" type="image/png" sizes="16x16" href="https://www.coronationsl.com/favicon.ico">
<title>CMB | Funds Transfer | Bank</title>
<!-- google font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" type="text/css" />
<!-- icons -->
<link
	href="dashboard/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="dashboard/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<!--bootstrap -->
<link href="dashboard/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet"
	href="dashboard/plugins/material/material.min.css">
<link rel="stylesheet" href="dashboard/css/material_style.css">
<!-- animation -->
<link href="dashboard/css/pages/animate_page.css" rel="stylesheet">
<!-- Template Styles -->
<link href="dashboard/css/style.css" rel="stylesheet" type="text/css" />
<link href="dashboard/css/plugins.min.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/responsive.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/theme-color.css" rel="stylesheet"
	type="text/css" />
<link href="dashboard/css/custom.css" rel="stylesheet" type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="dashboard/img/favicon.ico" />
</head>
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(dashboard/font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #003057;
	height: 100%;
}
</style>
<!-- END HEAD -->
<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
		<!-- start header -->
			<div th:replace="navbar :: navbar"></div>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
				<div th:replace="header-2 :: header-2"></div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<br>
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel tab-border card-box">
								<header class="panel-heading panel-heading-gray custom-tab">
									<center>
										<h4 style="color: #fff;">Funds Transfer</h4>
									</center>
								</header>
								<div class="panel-body">
									<div class="">
										
											<form class="form-signin" action="#"
												th:action="@{/saveTransactionDetail}"
												th:object="${transactionDetail}" method="post"
												id="transactionDetail-form">
												<input type="hidden" name="userId" id="userId"
													th:value="${session.dashboardDetail.user.id}" /> <input
													type="hidden" name="destinationAccountBvn"
													id="destinationAccountBvn" /><input type="hidden"
													name="nameEnquirySessionId" id="nameEnquirySessionId" /><input
													type="hidden" name="beneficiaryKyc" id="beneficiaryKyc" /><input
													type="hidden" name="errorMessage" id="errorMessage"
													th:value="${transactionDetail.errorMessage}" /><input
													type="hidden" name="existBenCheck" id="existBenCheck"
													th:value="${transactionDetail.existingBen}" /><input
													type="hidden" name="newBenCheck" id="newBenCheck"
													th:value="${transactionDetail.newBen}" /><input
													type="hidden" name="accountBalance" id="accountBalance"/>
												<div class="form-body">
													<div class="form-group row">
														<div class="col-md-12">
															<label class="control-label">Transfer Type </label> <select
																name="transactionTypeId" class="form-control"
																id="transactionTypeId"
																 required="required"
																th:field="*{transactionTypeId}">
																<option th:each="transactionType : ${transactionTypes}"
																	th:value="${transactionType.id}"
																	th:text="${transactionType.transactionType}" />
															</select>
														</div>
													</div>
													<div class="form-group row" >
														<div class="col-md-12">
															<label class="control-label">Source </label> <select
																name="sourceAccountNumber" class="form-control"
																id="sourceAccountNumber"
																 required="required"
																th:field="*{sourceAccountNumber}">
																<option th:each="account : ${currentAccountList}"
																	th:value="${account.accountNumber}"
																	th:text="${account.displayAccountNumber}" />
															</select> <input type="checkbox" id="existingBen"
																name="existingBen" /><span class='addNew' style="font-size: 10px;">Existing
																Beneficiary</span> <input type="checkbox" id="newBen"
																name="newBen"  /><span class='addNew'style="font-size: 10px;" >New
																Beneficiary</span>
														</div>
													</div>
													<div id="dailyLimitAndBalance">
														<div class="form-group row" >
															<div class="col-md-12">
																<label class="control-label">Daily Limit </label> <input
																	type="text" name="customerDailyTransactionAccountLimit"
																	id="customerDailyTransactionAccountLimit"
																	class="form-control"
																	 readonly="readonly" />
															</div>
														</div>
														<div class="form-group row" >
															<div class="col-md-12">
																<label class="control-label">Daily Balance </label> <input
																	type="text"
																	name="customerDailyTransactionAccountBalance"
																	id="customerDailyTransactionAccountBalance"
																	class="form-control"
																	 readonly="readonly" />
															</div>
														</div>
													</div>
													<div id="existingBeneficiary">
														<div class="form-group row" id="extBen">

															<div class="col-md-12">
																<label class="control-label">Destination </label> <select
																	name="externalBeneficiaryId" class="form-control"
																	id="externalBeneficiaryId"
																	
																	th:field="*{externalBeneficiaryId}">
																	<option
																		th:each="beneficiary : ${externalbeneficiaries}"
																		th:value="${beneficiary.id}"
																		th:text="${beneficiary.displayBeneficiary}" />
																</select>
															</div>
														</div>
														<div class="form-group row" id="intBen">
															<div class="col-md-12">
																<label class="control-label">Destination </label> <select
																	name="internalBeneficiaryId" class="form-control"
																	id="internalBeneficiaryId"
																	
																	th:field="*{internalBeneficiaryId}">
																	<option
																		th:each="beneficiary : ${internalbeneficiaries}"
																		th:value="${beneficiary.id}"
																		th:text="${beneficiary.displayBeneficiary}" />
																</select>
															</div>
														</div>
														<div class="form-group row" id="owntrnsf">
															<div class="col-md-12">
																<label class="control-label">Destination </label> <select
																	name="ownAccountNumber" class="form-control"
																	id="ownAccountNumber"
																	
																	th:field="*{ownAccountNumber}">
																	<option th:each="account : ${currentAccountList}"
																		th:value="${account.accountNumber}"
																		th:text="${account.displayAccountNumber}" />
																</select>
															</div>
														</div>
													</div>
													<!-- <div class="form-group row">
														<label class="control-label col-md-4">Destination
															Funds Type <span class="required"> * </span>
														</label>
														<div class="col-md-4">
															<select class="form-control" id="source">
																<option value="">Destination Funds Type</option>
																<option value="Category 1">Fixed Income</option>
																<option value="Category 2">Balanced Funds</option>
																<option value="Category 2">Money Market Funds</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<label class="control-label col-md-4">Top Up <span
															class="required"> * </span>
														</label>
														<div class="col-md-4">
															<select class="form-control" id="source">
																<option value="">Top Up</option>
																<option value="Category 1">Self</option>
																<option value="Category 2">Third Party</option>
															</select>
														</div>
													</div> -->
													<div id="newBeneficiary">
														<div class="form-group row" id="institute">
															<div class="col-md-12">
																<label class="control-label">Beneficiary Bank </label> <select
																	name="financialInstitutionCode" class="form-control"
																	id="financialInstitutionCode" required="required"
																	>
																	<option th:each="institute : ${financialInstitutions}"
																		th:value="${institute.institutionCode}"
																		th:text="${institute.institutionName}" />
																</select>
															</div>
														</div>

														<div class="form-group row">
															<div class="col-md-12">
																<label class="control-label">Destination Account
																</label> <input type="text" name="destinationAccountNumber"
																	id="newDestinationAccountNumber"
																	th:value="${transactionDetail.destinationAccountNumber}"
																	class="form-control"
																	 />
															</div>
														</div>

														<div class="form-group row">
															<div class="col-md-10">
																<label class="control-label">Destination Account
																	Name </label> <input type="text" name="destinationAccountName"
																	id="destinationAccountName" required="required"
																	readonly="readonly"
																	th:value="${transactionDetail.destinationAccountName}"
																	class="form-control"
																	 /> <input
																	type="checkbox" id="addBeneficiary"
																	name="addBeneficiary" /><span class='addNew'>Add
																	as Beneficiary</span>
															</div>

														</div>
													</div>
													<div class="form-group row">

														<div class="col-md-12">
															<label class="control-label">Amount </label> <input
																type="number" name="amount" id="amount"
																th:value="${transactionDetail.amount}"
																required="required" class="form-control"
																 />
														</div>
													</div>

													<div class="form-group row">
														<div class="col-md-12">
															<label class="control-label">Remark </label>
															<textarea class="form-control" name="remark" id="remark"
																th:text="${transactionDetail.remark}"
																required="required" ></textarea>
														</div>

													</div>

												</div>
												<div class="form-group">
													<div class="col-md-12">
														<center >

															<button type="submit" class="btn btn-info "
																style="background-color: #75787B; width: 100px;">Submit</button>
															<button class="btn btn-default " id="previous"
																style="background-color: #75787B; width: 100px;">Cancel</button>
														</center>

													</div>
												</div>

											</form>

										
									</div>


								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner">2018 &copy; CMB</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	<!-- start js include path -->
	<script src="dashboard/plugins/jquery/jquery.min.js"></script>
	<script src="dashboard/plugins/popper/popper.min.js"></script>
	<script src="dashboard/plugins/jquery-blockui/jquery.blockui.min.js"></script>
	<script
		src="dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- bootstrap -->
	<script src="dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="dashboard/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
	<!-- Common js-->
	<script src="dashboard/js/app.js"></script>
	<script src="dashboard/js/layout.js"></script>
	<script src="dashboard/js/theme-color.js"></script>
	<!-- Material -->
	<script src="dashboard/plugins/material/material.min.js"></script>
	<!-- animation -->
	<script src="dashboard/js/pages/ui/animations.js"></script>
	<!-- end js include path -->
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							document.getElementById("previous")
									.addEventListener("click", function() {
										console.log('previous');

										parent.history.back();
										return false;
									});
							if ($('#errorMessage').val() === '') {
								$('#existingBen').prop('checked', true);
							} else {
								console.log($('#existBenCheck').val());
								console.log($('#newBenCheck').val());
								if ($('#existBenCheck').val() !== '') {
									$('#existingBen').prop('checked', true);
									$('#newBen').prop('checked', false);
									setTimeout(function() {
										$('#externalBeneficiaryId').focus();
										$('#internalBeneficiaryId').focus();
										$('#ownAccountNumber').focus();
									}, 1);
								} else if ($('#newBenCheck').val() !== '') {
									$('#newBen').prop('checked', true);
									$('#existingBen').prop('checked', false);
									setTimeout(function() {
										$('#financialInstitutionCode').focus();
										$('#newDestinationAccountNumber')
												.focus();
										$('#destinationAccountName').focus();
									}, 1);
								}
								alert($('#errorMessage').val());
							}
							var x = document.getElementById('extBen');
							var y = document.getElementById('intBen');
							var z = document.getElementById('owntrnsf');
							var a = document.getElementById('newBeneficiary');
							var b = document
									.getElementById('existingBeneficiary');
							var c = document.getElementById('institute');
							var d = document
									.getElementById('dailyLimitAndBalance');
							//b.style.display = 'block';
							beneficiaryDisplay();
							accountDailyLimitAndBalance();
							$('#existingBen')
									.change(
											function(event) {
												// console.log('app1 checked',$('#app1').val());
												if ($('#existingBen').is(
														':checked')) {
													console
															.log('existingBen checked');
													$('#newBen').prop(
															'checked', false);
													a.style.display = 'none';
													b.style.display = 'block';
													beneficiaryDisplay();
												} else {
													console
															.log(
																	'existingBen unchecked',
																	$(
																			'#transactionTypeId')
																			.val());
													$('#newBen').prop(
															'checked', true);
													a.style.display = 'block';
													b.style.display = 'none';
													if ($('#transactionTypeId')
															.val() == 2) {
														c.style.display = 'none';
													}
												}
											});
							$('#newBen')
									.change(
											function(event) {
												// console.log('app1 checked',$('#app1').val());
												if ($('#newBen').is(':checked')) {
													console
															.log(
																	'newBen checked',
																	$(
																			'#transactionTypeId')
																			.val());
													$('#existingBen').prop(
															'checked', false);
													a.style.display = 'block';
													b.style.display = 'none';
													if ($('#transactionTypeId')
															.val() == 2) {
														c.style.display = 'none';
													}
													beneficiaryDisplay();
												} else {
													console
															.log('existingBen unchecked');
													$('#existingBen').prop(
															'checked', true);
													a.style.display = 'none';
													b.style.display = 'block';
													beneficiaryDisplay();
												}
											});
							$('#transactionTypeId').change(function(event) {
								beneficiaryDisplay();
								accountDailyLimitAndBalance();

							});
							function beneficiaryDisplay() {
								console.log('beneficiaryDisplay ', $(
										'#transactionTypeId').val());
								if ($('#transactionTypeId').val() == 1) {
									console.log('beneficiaryDisplay ', $(
											'#transactionTypeId').val());
									x.style.display = 'none';
									y.style.display = 'none';
									z.style.display = 'block';
									if ($('#existingBen').is(':checked')) {
										console.log('existingBen checked');
										a.style.display = 'none';
										b.style.display = 'block';
									} else {
										console.log('existingBen not checked');
										a.style.display = 'none';
										b.style.display = 'block';
									}
								}
								if ($('#transactionTypeId').val() == 2) {
									x.style.display = 'none';
									y.style.display = 'block';
									z.style.display = 'none';

									if ($('#newBen').is(':checked')) {
										c.style.display = 'none';
									}
									if ($('#existingBen').is(':checked')) {
										console.log('existingBen checked');
										a.style.display = 'none';
										b.style.display = 'block';
									} else {
										console.log('existingBen not checked');
										a.style.display = 'block';
										b.style.display = 'none';
									}
								}
								if ($('#transactionTypeId').val() == 3) {
									x.style.display = 'block';
									y.style.display = 'none';
									z.style.display = 'none';
									if ($('#newBen').is(':checked')) {
										c.style.display = 'block';
									}
									if ($('#existingBen').is(':checked')) {
										console.log('existingBen checked');
										a.style.display = 'none';
										b.style.display = 'block';
									} else {
										console.log('existingBen not checked');
										a.style.display = 'block';
										b.style.display = 'none';
									}
								}
								if ($('#transactionTypeId').val() == '') {
									console.log('inside beneficiaryDisplay ',
											$('#transactionTypeId').val());
									x.style.display = 'none';
									y.style.display = 'none';
									z.style.display = 'none';
									if ($('#newBen').is(':checked')) {
										c.style.display = 'none';
									}
									a.style.display = 'none';
									b.style.display = 'none';
								}

							}
							$('#financialInstitutionCode').change(
									function(event) {
										nameEnquiry();
									});
							$('#newDestinationAccountNumber').change(
									function(event) {
										nameEnquiry();
									});
							$('#sourceAccountNumber').change(function(event) {
								accountDailyLimitAndBalance();
								var acctData = $('#sourceAccountNumber option:selected').text();
								var arr = acctData.split("|");
								$('#accountBalance').val(arr[2]);
							});
							function nameEnquiry() {
								console.log('transactionTypeId=== ', $(
										'#transactionTypeId').val());
								console.log('bank code=== ', $(
										'#financialInstitutionCode').val());
								var search = {}
								var myUrl = '';
								if ($('#transactionTypeId').val() == 2) {
									search["accountNumber"] = $(
											'#newDestinationAccountNumber')
											.val();
									myUrl = 'http://132.10.200.140:9292/thirdpartyapi/accountDetail'
								}
								if ($('#transactionTypeId').val() == 3) {
									search["accountNumber"] = $(
											'#newDestinationAccountNumber')
											.val();
									search["destinationInstitutionCode"] = $(
											'#financialInstitutionCode').val();
									myUrl = 'http://132.10.200.140:9292/thirdpartyapi/generalnipenquiry'
								}
								$
										.ajax({
											type : "post",
											contentType : "application/json",
											url : myUrl,
											data : JSON.stringify(search),
											dataType : 'json',
											// async: false,
											cache : false,
											timeout : 600000,
											success : function(data) {

												var json = "<h4>Ajax Response</h4><pre>"
														+ JSON.stringify(data,
																null, 4)
														+ "</pre>";

												console.log("SUCCESS : ", data);
												//console.log("SUCCESS : ",
												//		data["customerName"]);
												//console.log("SUCCESS : ",
												//		data["phoneNumber"]);
												//console.log("SUCCESS : ",
												//		data["email"]);

												$("#destinationAccountName")
														.val(
																data["accountName"]);
												$("#destinationAccountBvn")
														.val(
																data["customerBVN"]);
												$("#nameEnquirySessionId").val(
														data["sessionId"]);
												$("#beneficiaryKyc").val(
														data["customerKYC"]);

											},
											error : function(e) {

												var json = "<h4>Ajax Response</h4><pre>"
														+ e.responseText
														+ "</pre>";
												$('#verifiedName').html(json);

												console.log("ERROR : ", e);
											}
										});
							}
							function accountDailyLimitAndBalance() {
								if ($('#transactionTypeId').val() == ''
										&& $('#sourceAccountNumber').val() == '') {
									d.style.display = 'none';
								} else if ($('#transactionTypeId').val() !== ''
										&& $('#sourceAccountNumber').val() !== '') {
									d.style.display = 'block';

									var channel = '';
									if ($('#transactionTypeId').val() == 1) {
										channel = 'INTRABANK';
									} else {
										if ($('#transactionTypeId').val() == 2) {
											channel = 'INTRABANK';
										} else {
											if ($('#transactionTypeId').val() == 3) {
												channel = 'NIP';
											}
										}
									}
									console.log('transactionTypeId=== ', $(
											'#transactionTypeId').val());
									console.log('channel=== ', channel);
									var search = {}
									var myUrl = '';
									search["accountNumber"] = $(
											'#sourceAccountNumber').val();
									search["transactionChannel"] = channel;
									myUrl = document.location.origin + '/fusion/accountDailyTranLimit'
									$
											.ajax({
												type : "post",
												contentType : "application/json",
												url : myUrl,
												data : JSON.stringify(search),
												dataType : 'json',
												// async: false,
												cache : false,
												timeout : 600000,
												success : function(data) {

													var json = "<h4>Ajax Response</h4><pre>"
															+ JSON.stringify(
																	data, null,
																	4)
															+ "</pre>";

													console.log("SUCCESS : ",
															data);
													//console.log("SUCCESS : ",
													//		data["customerName"]);
													//console.log("SUCCESS : ",
													//		data["phoneNumber"]);
													//console.log("SUCCESS : ",
													//		data["email"]);

													$(
															"#customerDailyTransactionAccountLimit")
															.val(
																	data["totalDailyLimit"]);
													//$("#destinationAccountBvn")
													//		.val(
													//				data["customerBVN"]);
													//$("#nameEnquirySessionId").val(
													//		data["sessionId"]);
													//$("#beneficiaryKyc").val(
													//		data["customerKYC"]);

												},
												error : function(e) {

													var json = "<h4>Ajax Response</h4><pre>"
															+ e.responseText
															+ "</pre>";
													$('#verifiedName').html(
															json);

													console.log("ERROR : ", e);
												}
											});
									var newMyUrl = '';
									search["accountNumber"] = $(
											'#sourceAccountNumber').val();
									search["transactionChannel"] = channel;
									newMyUrl = document.location.origin + '/fusion/accountDailyBalance'
									$
											.ajax({
												type : "post",
												contentType : "application/json",
												url : newMyUrl,
												data : JSON.stringify(search),
												dataType : 'json',
												// async: false,
												cache : false,
												timeout : 600000,
												success : function(data) {

													var json = "<h4>Ajax Response</h4><pre>"
															+ JSON.stringify(
																	data, null,
																	4)
															+ "</pre>";

													console.log("SUCCESS : ",
															data);
													//console.log("SUCCESS : ",
													//		data["customerName"]);
													//console.log("SUCCESS : ",
													//		data["phoneNumber"]);
													//console.log("SUCCESS : ",
													//		data["email"]);

													$(
															"#customerDailyTransactionAccountBalance")
															.val(
																	data["dailyBalance"]);
													//$("#destinationAccountBvn")
													//		.val(
													//				data["customerBVN"]);
													//$("#nameEnquirySessionId").val(
													//		data["sessionId"]);
													//$("#beneficiaryKyc").val(
													//		data["customerKYC"]);

												},
												error : function(e) {

													var json = "<h4>Ajax Response</h4><pre>"
															+ e.responseText
															+ "</pre>";
													$('#verifiedName').html(
															json);

													console.log("ERROR : ", e);
												}
											});
								} else if ($('#transactionTypeId').val() == ''
										|| $('#sourceAccountNumber').val() == '') {
									d.style.display = 'none';
								}
							}
						});
	</script>
</body>
</html>